<div>
  <div pp-field="personnummer">
    <span id="personnummer">{{user.personnummer}}</span>
  </div>

  <div pp-field="name">
    <span id="namn">{{user.name}}</span>
  </div>

  <div id="nyttNamnInformation" ng-if="user.nameUpdated" class="alert alert-info">
    <span message key="label.alert.pu"></span>
  </div>

  <div pp-field="befattning">
    <select required id="befattning" name="befattning" class="form-control" ng-model="registerModel.befattning"
            ng-options="s.label for s in viewState.befattningList track by s.id" pp-focus-me="focusBefattning" >
      <option value="">{{message.getProperty('label.form.befattning.valjbefattning')}}</option>
    </select>
  </div>

  <div pp-field="verksamhetensnamn">
    <input required type="text" id="verksamhetensnamn" name="verksamhetensnamn"
           ng-model="registerModel.verksamhetensNamn" class='form-control' value="" style='max-width: 20em'
           maxlength="200">
  </div>

  <div pp-field="agarform">
    <span id="agarform">{{registerModel.agarForm}}</span>
  </div>

  <div pp-field="vardform">
    <select id="vardform" class="form-control" ng-model="registerModel.vardform"
            ng-options="s.label for s in viewState.vardformList track by s.id"></select>
  </div>

  <div pp-field="verksamhetstyp">
    <select required id="verksamhetstyp" name="verksamhetstyp" class="form-control"
            ng-model="registerModel.verksamhetstyp"
            ng-options="s.label for s in viewState.verksamhetstypList track by s.id">
      <option value="">{{message.getProperty('label.form.verksamhetstyp.valjverksamhetstyp')}}</option>
    </select>
  </div>

  <div pp-field="arbetsplatskod">
    <input type="text" id="arbetsplatskod" name="arbetsplatskod" ng-model="registerModel.arbetsplatskod"
           class='form-control' value=""
           maxlength="200">
  </div>
</div>
