<form name="registerForm" ng-submit="submitForm()" novalidate>

  <h1 id="minsida" class="page-header"><span message key="heading.mypage"></span></h1>

  <div class="row">
    <div class="col-md-7">

      <div alert-message alert-show="viewState.errorMessage.load" alert-message-id="label.form.error.load" alert-severity="danger"></div>

      <div alert-message alert-show="viewState.errorMessage.noPermission" alert-message-id="label.form.error.nopermission" alert-severity="danger"></div>

      <h2><span message key="label.form.grunduppgifter"></span></h2>
      <div class="box">
        <div form-grund-uppgifter register-model="registerModel" user="user"></div>
      </div>

      <h2><span message key="label.form.kontaktuppgifter"></span></h2>
      <div class="box">
        <div form-kontakt-uppgifter register-model="registerModel"></div>
      </div>

      <h2><span message key="label.form.socialuppgifter"></span></h2>
      <div class="box">
        <div form-social-uppgifter></div>
      </div>

      <div class="top-pad"></div>

      <div class="buttonbar section-line top-pad-1">
        <button id="saveBtn" class="btn btn-success" ng-click="save()" ng-disabled="registerForm.$pristine">
          <img ng-show="viewState.loading.save" ng-src="assets/images/ajax-loader-small-green.gif" /> <span
            ng-show="viewState.infoMessage.save == null" message key="common.save"></span><span
            ng-show="viewState.infoMessage.save != null" message key="common.savelogout"></span>
        </button>
        <button id="resetBtn" class="btn btn-secondary" ng-click="reset()" ng-disabled="registerForm.$pristine">
          <span message key="common.resetchanges"></span>
        </button>
      </div>

      <div alert-message alert-show="viewState.infoMessage.save" alert-severity="info" class="top-pad"></div>

      <div alert-message alert-show="viewState.errorMessage.save" alert-severity="danger" class="top-pad"></div>
    </div>
  </div>

</form>
