.rhs-select-columns-body {

  .rhs-toggle-row {
    margin: 0 -15px;
    opacity: 1;

    &:hover {
      background-color: $rs-color-06;

      .rhs-move-column {
        visibility: visible;
      }
    }

    &.ng-move {
      transition: all linear 0.5s;
      opacity:0;

      &.ng-move-active {
        opacity: 1;
      }
    }
  }

  .rhs-move-column {
    display: inline-block;
    width: 29%;
    padding-right: 20px;
    visibility: hidden;
    text-align: right;

    i {
      padding: 10px;

      &:hover {
        cursor: pointer;

        &.inactive {
          cursor: not-allowed;
        }
      }
    }

    .inactive {
      color: $rs-color-08;
    }
  }



  label {
    @extend %rs-typo-05;
    font-weight: normal;
    width: 70%;
    margin-bottom: 0;
    cursor: pointer;
    padding: 8px 20px;

    input {
      vertical-align: text-top;
      margin: 2px 0 0;
    }
  }

  .alert {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
