<div class="modal-header">
  <button class="close" data-dismiss="modal" data-ng-click="$dismiss()">×</button>
  <h4 class="modal-title"><span message key="{{::translationBaseKey}}title"></span></h4>
</div>
<div class="modal-body rhs-select-columns-body">
  <p>
    <span message key="{{::translationBaseKey}}body"></span>
  </p>

  <div data-ng-repeat="column in columns track by column.id" class="rhs-toggle-row">
    <label ng-click="checkSelected()">
      <input id="rhs-toggle-column-{{::column.id}}" type="checkbox" ng-model="column.checked">
      <span ng-bind-html="::getLabel(column.id) | message"></span>
    </label>
    <span class="rhs-move-column">
      <a href data-ng-class="{inactive: $first}" data-ng-click="moveUp(column)">
        <i class="glyphicon glyphicon-arrow-up"></i>
        Flytta upp
      </a>
      <a href data-ng-class="{inactive: $last}" data-ng-click="moveDown(column)">
        <i class="glyphicon glyphicon-arrow-down"></i>
        Flytta ner
      </a>
    </span>
  </div>

  <div ng-if="nonSelected" class="alert alert-warning">
    <span message key="{{::translationBaseKey}}selectone"></span>
  </div>

  <div ng-if="error" class="alert alert-danger">
    <span message key="{{::translationBaseKey}}error"></span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="save-dialog" class="btn btn-primary" ng-click="save()" ng-disabled="nonSelected || saving">
    <span message key="common.save"></span>
  </button>
  <button type="button" id="close-dialog" class="btn btn-default" ng-click="$dismiss()">
    <span message key="common.cancel"></span>
  </button>
</div>
