<div class="panel panel-noborder">
  <div class="panel-body">
    <button class="btn btn-link btn-link-minimal" ng-click="showSearchFilter = !showSearchFilter"
            ng-switch="showSearchFilter">
      <span ng-switch-when="false">Visa sökfilter</span><span ng-switch-when="true">Dölj sökfilter</span>
    </button>
    <div class="box" ng-show="showSearchFilter">
      <form>
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group search-filter-diagnos">
              <label class="control-label">Välj nuvarande diagnos</label>
              <rhs-multi-select items-model="filterViewState.get().diagnosKapitelModel"
                                none-selected-title="Alla valda" high-light-enabled="true" />
            </div>
          </div>

          <div ng-if="user.urval === 'ALL'" class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Välj nuvarande läkare</label>
              <rhs-multi-select items-model="filterViewState.get().lakareModel" none-selected-title="Alla valda"
                                high-light-enabled="false" />
            </div>
          </div>
        </div>
        <div class="row row-relative">
          <div class="col-sm-10">
            <div class="form-group">
              <label class="control-label">Välj sjukskrivningslängd</label>
              <rhs-slider slider-model="filterViewState.get().sjukskrivningslangdModel" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <input ng-model="filterViewState.get().freeTextModel" placeholder="Sök" class="input-sm form-control"
                     type="search" />
            </div>
          </div>
          <div class="col-sm-5 bottom-align-text">
            <button id="rhs-sjukfallPage-resetFilterBtn" ng-click="onResetFilterClick()" class="btn btn-default">Återställ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>