.rhs-vardenhet-selector {

  .btn {
    padding: 2px 2px;
  }
  .toggle-icon {
    color: #111111;
    cursor: pointer
  }
  .btn.enhet {
    margin-left: 30px;
  }
  .btn.mottagning {
    margin-left: 60px;
  }

}