<div class="rhs-vardenhet-selector">
  <div ng-if="showRoleSwitchMessage" class="alert alert-info">
    <span message key="{{::roleSwitchMessageKey}}"></span>
  </div>

  <div ng-repeat="vg in model.vardgivare | orderBy:'namn'">
     <h4 class="vardgivare-title">
       {{::vg.namn}}
     </h4>

    <div ng-if="vg.expanded" ng-repeat="enhet in vg.vardenheter | orderBy:'namn'">

      <div class="enhet">
        <span ng-if="enhet.mottagningar.length > 0" class="toggle-icon" id="expand-disabled-enhet-{{::enhet.id}}" ng-click="enhet.expanded = ! enhet.expanded">
          <span class="glyphicon" ng-class="enhet.expanded ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
        </span>
         <span ng-if="enhet.mottagningar.length < 1" class="glyphicon glyphicon-chevron-up glyphicon-hide"></span>

        <span ng-if="enhet.id == model.valdVardenhet.id">
          <span class="active-enhet">{{::enhet.namn}}</span> (vald enhet)
        </span>
        <a
            ng-if="enhet.id != model.valdVardenhet.id"
            id="rhs-vardenhet-selector-select-active-unit-{{enhet.id}}-link" href data-ng-click="itemSelected(enhet)">
          {{enhet.namn}}
        </a>
      </div>

      <div
          ng-if="enhet.expanded"
          ng-repeat="mottagning in enhet.mottagningar | orderBy:'namn'" class="mottagning">
        <div ng-if="mottagning.id != model.valdVardenhet.id">
          <a id="rhs-vardenhet-selector-select-active-unit-{{mottagning.id}}-link" href data-ng-click="itemSelected(mottagning)">
            {{::mottagning.namn}}
          </a>
        </div>
        <div ng-if="mottagning.id === model.valdVardenhet.id">
          <span class="active-enhet">{{::mottagning.namn}}</span> (vald enhet)
        </div>
      </div>
    </div>
  </div>
</div>
