.rhs-stat-circle {
  width: 100%;
  border-radius: 50%;
  text-align: center;
  padding: 50% 0;
  line-height: 0;
  position: relative;
  color: white;
  font-size: 150%;
  font-weight: bold;
}

.rhs-stat-circle-container {
 display: inline-block;
}
