.rhs-stat-circle {
  border-radius: 50%;
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  line-height: 0;
  padding: 50% 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.rhs-stat-circle-container {
  display: inline-block;
}
