rhs-select-unit-dropdown {
  display: block;
}

.rhs-select-unit-dropdown {

  .caret {
    float: right;
    margin-top: 8px;
    margin-left: 8px;
  }

  .dropdown-menu {
    z-index: 2000;

    > li > a {
      padding-left: 10px;
    }
  }

  .item-label {
    display: inline-block;
  }

  @media (max-width: $screen-md-min) {
    .item-label {
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
