.rhs-cookie-banner {
  margin: 0;
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  border: none;
  z-index: 10;

  .alert {
    border-radius: 0;
    max-width: inherit;
  }

  .container-fluid {
    padding: 0;
  }
}
