rhs-date-range-picker {
  display: block;

  .form-control {
    position: relative;
    padding: 0;
  }

  .fa {
    position: absolute;
    color: #949494;
    right: 6px;
    top: 5px;
    font-size: 20px;
  }

  input {
    padding: 4px 20px 4px 6px;
    border: 0;
    width: 100%;
    display: inline-block;
    margin-top: 3px;
    color: #555;
    background-color: #fff;

    &[disabled] {
      cursor: pointer;
    }

    &[disabled] {
      cursor: pointer;
    }

    &:focus {
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}


// Datepicker overrides
.date-picker-wrapper {

  background-color: #fff;
  padding: 0 12px 12px;

  .drp_top-bar {
    display: none;
  }

  #closeDatePicker,
  #clearDatePicker {
    padding: 6px 25px;
  }

  #clearDatePicker {
    margin-left: 20px;
  }

  .first-date-selected,
  .last-date-selected {
    background-color: $rs-color-02 !important;
    border: 1px solid $rs-color-03;
    padding: 5px 0 !important;
  }

  .first-date-selected {
    border-radius: 11px 0 0 11px;
  }

  .last-date-selected {
    border-radius: 0 11px 11px 0;
  }

  .first-date-selected.last-date-selected {
    border-radius: 11px;
  }

  .month-wrapper {
    border: 0;

    table {
      .day {
        padding: 6px 1px;

        &.checked,
        &.real-today.checked,
        &.real-today.hovering,
        &.toMonth.hovering{
          background-color: rgba(0, 161, 176, 0.3);
        }

        &.real-today {
          background-color: #fff;

        }
      }
    }
  }
}
