<h5>Vårdgivare med information</h5>
<div class="message-wrapper scrollable-list">{{vardgivareMedInfo}}</div>

<div class="flex-fill">
  <div class="rhs-info-box--section rhs-info-box--spacing row">
    <div class="col-lg-6">
      <div class="rhs-checkbox">
        <label class="control-label" for="rhs-extra-consent"><input id="rhs-extra-consent" type="checkbox"
                                                                    ng-model="consent.confirm"> Patienten samtycker till att du får hämta information från andra vårdgivare</label>
      </div>
    </div>
    <div class="col-lg-6"><span>I</span>
      <rhs-numeric-range-input external-model="consent.days" min="1" max="365" control-disabled="!consent.confirm"
                               display-max-value-as="365+" input-id="rhs-extra-dagar"></rhs-numeric-range-input>
      <span>dagar</span>
    </div>
  </div>
</div>

<h5 class="rhs-info-box--spacing">Vem har samtycke?</h5>
<div class="message-wrapper">
  <label class="control-label"><input type="radio" ng-model="consent.onlyCurrentUser" ng-disabled="!consent.confirm"
                                      value="ONLYCURRENT" /> Bara jag</label>&nbsp; <label class="control-label"><input
    type="radio" ng-model="consent.onlyCurrentUser" ng-disabled="!consent.confirm" value="ALL" /> All behörig personal på
  vårdenheten</label>
</div>
<rhs-box-button rhs-click="next()" btn-disabled="!consent.confirm">Hämta information</rhs-box-button>
