rhs-header-user {
  $rhs-header-unit-min-width: 120px;

  //default is to act as a non-growing, shrinkable flex-item
  flex: 0 1 auto;

  //flex items must a some sort of width applied for it to be able to shrink
  //NOTE: when using min-width:0px (no unit), scss processing optimised it by
  // removing the unit, casuing rendering errorss in IE that doesnt handle unitless min-widths in flex context. took me 6 hours to find that ugh!
  min-width: $rhs-header-unit-min-width;

  display: block;
  padding: 0 16px;
  white-space: nowrap;

  .btn-link {
    padding: 8px 15px;

    &,
    &:hover,
    &:focus,
    &:active {
      color: $rs-color-01;
    }
  }

  .header-user {
    //default is to act as a non-growing, shrinkable flex-item
    display: flex;
    align-items: center;
    height: 100%;

    //flex items must a some sort of width applied for it to be able to shrink
    //NOTE: when using min-width:0px (no unit), scss processing optimised it by
    // removing the unit, casuing rendering errorss in IE that doesnt handle unitless min-widths in flex context. took me 6 hours to find that ugh!
    min-width: $rhs-header-unit-min-width;
  }
}
