<div class="form-group" ng-class="{ 'has-error' : !isValid() }">
  <label class="control-label"><span message key="label.form.{{controlName}}"></span></label> <span ng-if="showHelp">
  <span pp-tooltip field-help-text="label.form.{{controlName}}.help"></span></span>
  <div class="controls">
    <div ng-transclude></div>
    <div ng-messages="registerForm[controlName].$error" class="help-block" role="alert"> <!-- {{controlName}} ng-show="!isValid()" -->
      <div ng-show="!isValid()">
        <!--<pre>{{registerForm[controlName].$error|json}}</pre>-->
        <div ng-repeat="(type, value) in registerForm[controlName].$error">
          <span message key="label.form.{{controlName}}.error.{{type}}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
