.gradle/
.settings/
.project
.classpath
.gradletasknamecache

sonar-project.properties

build/
bin/
out/
generatedSource/

web/node_modules
web/.sass-cache/
*.map

.vscode/
.idea/
*.iml
*.DS_Store
web/catalina.base_IS_UNDEFINED/
test/node_modules

tools/soapUI/logs/soapui-rehabstod-logfile.txt

test/node-v*
test/reports