.header {
    background-color: #212633;
    padding: 5px 0 15px 0; /* don't change this setup. it's needed for IE8 flow on smaller screens to work */
    color: #fff;
}

.header a {
    color: #28b4c4;
    font-size: 13px;
    line-height: 14px;
}

.headerbox {
    padding: 0 0 0 0;
}

span.headerbox-logo {
    padding: 3px 20px 0 30px;
    border-right: 1px solid #595c66;
    display: block;
    margin-top: 10px;
}

span.headerbox-date {
    padding: 19px 0 0 30px;
    line-height: 17px;
    display: block;
}

div.headerbox-user {
    font-size: 13px;
    line-height: 16px;
    padding: 10px 0 0 0;
}

div.headerbox-avatar {
    padding: 10px 30px 0 0;
}

div.headerbox-user-profile {
    padding-right: 15px;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
}

.header span.location {
    font-size: 14px;
    font-weight: bold;
}

.header .otherLocations {
    font-size: 12px;
}

.logout-button {
    float: right;
    margin: 4px 30px 0 0;
}
