.result-sub-header {
  border-bottom: 1px solid #eee;
}

.result-backlink {
  background: transparent url('/assets/images/backlink-icon.png') center left no-repeat;
  display: block;
  height: 24px;
  left: -20px;
  position: absolute;
  top: 35%;
  width: 24px;

  &:hover {
    background: transparent url('/assets/images/backlink-icon-hover.png') center left no-repeat;
  }
}

.result-top {
  margin: 0;
  padding-top: 15px;
  position: relative;

  h1 {
    padding-bottom: 5px;
  }

  h3 {
    font-size: 14px;
  }
}

.result-fixed-top {
  background: #fff;
  box-shadow: 0 8px 8px -6px #ccc;
  position: fixed;
  top: 0;
  z-index: 1001;

  .result-sub-header {
    border-bottom: 0;
  }

  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}

@media (max-width: $screen-xs-max) {
  .result-backlink {
    left: 0;
  }

  .result-top {
    padding-left: 35px;
  }
}
