
$srs-risk-indicator-diameter: 10px;
rhs-risk-indicator {

  font-size: 0; /*To get rid of spacing between the indicators when using inline-block*/

  .rhs-table-tooltip {
    width: 3*$srs-risk-indicator-diameter+2;
    border-bottom: 0 !important; /* overrides the dotted tooltip bottom */
    cursor: help;
  }

  .rhs-srs-risk-indicator {
    vertical-align: middle;
    margin-bottom: 2px; /* to vert. center it a bit more */
    margin-right: 1px;
    margin-top: 0;
    margin-left: 0;
    background-color: #EDEDED;
    display: inline-block;
    width: $srs-risk-indicator-diameter;
    height: $srs-risk-indicator-diameter;
    border: 1px solid #22263E;
    border-radius: $srs-risk-indicator-diameter/2;
  }
  .rhs-srs-risk-indicator:last-child {
    margin-right: 0;
  }

  .rhs-srs-risk-zero {
    width: 17px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 9px;
    background-color: $rs-color-26;
  }

  .rhs-srs-risk-one > .rhs-srs-risk-indicator.filled {
    background-color: $srs-risk-indicator-moderate;
  }

  .rhs-srs-risk-two > .rhs-srs-risk-indicator.filled {
    background-color: $srs-risk-indicator-high;
  }

  .rhs-srs-risk-three > .rhs-srs-risk-indicator.filled {
    background-color: $srs-risk-indicator-very-high;
  }

}
