<div class="container" st-set-filter="rhsSearchfilter" st-table="displayedCollection" st-safe-src="model.get()">

  <rhs-st-table-search-connector></rhs-st-table-search-connector>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <input st-search placeholder="Sök" class="input-sm form-control" type="search" />
      </div>
    </div>
  </div>

  <rhs-table-number-of-rows></rhs-table-number-of-rows>

  <table class="searchresult-table table table-striped">
    <thead>
    <tr>
      <th class="searchresult-table-head">#</th>
      <th class="searchresult-table-head" st-sort="patient.id"><span message key="label.table.column.pnr"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="patient.namn"><span message key="label.table.column.namn"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="patient.kon"><span message key="label.table.column.kon"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="diagnos.intygsVarde"><span message key="label.table.column.diagnos"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="start" st-sort-default="true"><span message key="label.table.column.startve"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="slut"><span message key="label.table.column.slut"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="dagar"><span message key="label.table.column.langd"></span> <i class="fa fa-sort"></i></th>
      <th class="searchresult-table-head" st-sort="aktivGrad"><span message key="label.table.column.grad"></span> <i class="fa fa-sort"></i><div class="aktiv-grad-tooltip" rhs-tooltip field-help-text="label.table.column.grad.help"></div></th>
      <th class="searchresult-table-head" st-sort="lakare"><span message key="label.table.column.lakare"></span> <i class="fa fa-sort"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in displayedCollection" class="searchresult-table-row">
      <td>{{$index + 1}}</td>
      <td>{{::row.patient.id}} (<span class="age">{{::row.patient.alder}} år</span>)</td>
      <td>{{::row.patient.namn}}</td>
      <td>{{::row.patient.kon | rhsKon}}</td>
      <td>
        <span ng-if="::row.diagnos.beskrivning" uib-tooltip-html="getToolTip(row.diagnos)" tooltip-popup-delay="200" class="rhs-table-tooltip">{{::row.diagnos.intygsVarde}}</span>
        <span ng-if="::!row.diagnos.beskrivning">{{::row.diagnos.intygsVarde}}</span>
      </td>
      <td class="start-date">{{::row.start}}</td>
      <td class="end-date">{{::row.slut}}</td>
      <td>
        <ng-pluralize count="{{::row.dagar}}" when="{
                     'one': '1 dag',
                     'other': '{} dagar'}"></ng-pluralize><span class="intyg">&nbsp;({{::row.intyg}}&nbsp;intyg)</span>
      </td>
      <td><rhs-table-grad active="row.aktivGrad" grader="row.grader" /></td>
      <td>{{::row.lakare}}</td>
    </tr>
    </tbody>
  </table>

</div>