%rs-typo-01 {
  color: $rs-color-03;
  font-size: 24px;
  font-weight: bold;
}

%rs-typo-02 {
  color: $rs-color-03;
  font-size: 18px;
  font-weight: bold;
}

%rs-typo-03 {
  color: $rs-color-10;
  font-size: 16px;
  font-weight: bold;
}

%rs-typo-04 {
  color: $rs-color-10;
  font-size: 14px;
  font-weight: bold;
}

%rs-typo-05 {
  color: $rs-color-10;
  font-size: 14px;
}

%rs-typo-06 {
  color: $rs-color-03;
  font-size: 14px;
  font-weight: normal;
}

%rs-typo-07 {
  color: $rs-color-03;
  font-size: 14px;
  font-weight: bold;
}

%rs-typo-08 {
  color: $rs-color-10;
  font-size: 12px;
}

%rs-typo-09 {
  color: $rs-color-08;
  font-size: 12px;
}
