%rs-typo-01 {
  color: $rs-color-03;
  font-size: 24px;
  font-weight: bold;
}

%rs-typo-02 {
  color: $rs-color-03;
  font-size: 18px;
  font-weight: bold;
}

%rs-typo-03 {
  color: $rs-color-10;
  font-size: 16px;
  font-weight: bold;
}

%rs-typo-04 {
  color: $rs-color-10;
  font-size: 14px;
  font-weight: bold;
}

%rs-typo-05 {
  color: $rs-color-10;
  font-size: 14px;
}

%rs-typo-06 {
  color: $rs-color-03;
  font-size: 14px;
  font-weight: normal;
}

%rs-typo-07 {
  color: $rs-color-03;
  font-size: 14px;
  font-weight: bold;
}

%rs-typo-08 {
  color: $rs-color-10;
  font-size: 12px;
}

%rs-typo-09 {
  color: $rs-color-08;
  font-size: 12px;
}

%rs-typo-10 {
  color: $rs-color-01;
  font-weight: bold;
  font-size: 14px;
}

%rs-typo-11 {
  color: $rs-color-10;
  font-weight: bold;
  font-size: 12px;
}

%rs-typo-12 {
  color: $rs-color-10;
}

%rs-typo-13 {
  color: $rs-color-10;
  font-style: italic;
  font-size: 12px;
}

%rs-typo-14 {
  color: $rs-color-10;
  font-style: italic;
  font-size: 12px;
  border-bottom: 1px dashed $rs-color-15;
}

%rs-typo-15 {
  color: $rs-color-10;
  font-weight: bold;
  font-size: 12px;
}
