$rs-color-01: #FFFFFF;
$rs-color-02: #00A1B0;
$rs-color-03: #008391;
$rs-color-04: #212633;
$rs-color-05: #000000;
$rs-color-06: #EFEFEF;
$rs-color-07: #CCCCCC;
$rs-color-08: #999999;
$rs-color-09: #666666;
$rs-color-10: #333333;
$rs-color-11: #337AB7;
$rs-color-12: #2E6EA5;
$rs-color-13: #286090;
$rs-color-14: #E6E5E5;
$rs-color-15: #DA4453;
$rs-color-16: #D8EEF7;
$rs-color-17: #4890E2;
$rs-color-18: #3B759D;
$rs-color-19: #FFF8E4;
$rs-color-20: #F0E1B4;
$rs-color-21: #9A6C41;
$rs-color-22: #F2DEDE;
$rs-color-23: #D0021C;
$rs-color-24: #751723;
$rs-color-25: #E5E8EE;
$rs-color-26: #22263E;
$rs-color-27: #E4E4E4;
$rs-color-28: #3D4260;
$rs-color-29: #292F4F;
$rs-color-30: #00a9a7;
$rs-color-31: #4890E2;
$rs-color-32: #FBC36A;

$rs-max-width: 1600px;
$default-border-radius: 5px;

$form-group-margin-bottom: 10px;

$black_12: rgba(0, 0, 0, 0.12);

// Font
$rhs-font: Arial, sans-serif;
$rhs-font-size-h1: 24px;
$rhs-font-size-h2: 18px;
$rhs-font-size-h3: 16px;
$rhs-font-size-h4: 14px;

$rhs-font-size-th: 14px;

// Buttons
$rhs-font-buttons: "Arial Rounded MT Bold", sans-serif;
$rhs-button-padding: 8px 20px;
$rhs-button-letter-spacing: 0.06px;

$inactive-element-color: #ccc;
$background-gray-color: #efefef;
$background-darkergray-color: #aaa;

$footer-background-color: #E5E8EE;
$footer-text-color: #22263E;
$footer-height: 240px;

$rhs-table-hover-bg: #bce4e8; //30% opacity of of specified color 00A1B0


// Bootstrap variables (Here we override bootstraps default values with RHS custom variables defined above, or just directly..)
//Change from 992 to 1024 as this is a specified breakpoint, below 1024 we have no specs
$screen-md: 1024px;

$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../bower_components/font-awesome/fonts';

$font-family-base: $rhs-font;
$font-size-h1: $rhs-font-size-h1;
$font-size-h2: $rhs-font-size-h2;
$font-size-h3: $rhs-font-size-h3;
$font-size-h4: $rhs-font-size-h4;
$headings-line-height:    1.5;

$text-color: $rs-color-10;
$link-color: $rs-color-03;
$link-hover-color: $rs-color-03;

$navbar-default-color:             $rs-color-10;
$navbar-default-link-color:        $rs-color-10;
$navbar-default-bg:                $rs-color-06;

$navbar-default-link-hover-color: $rs-color-10;
$navbar-default-link-hover-bg: $rs-color-08;

$navbar-default-link-active-color: $rs-color-01;
$navbar-default-link-active-bg: $rs-color-02;


//Alerts overrides
$alert-padding: 12px 16px;
$alert-border-radius: 4px;

$alert-warning-text: $rs-color-21;
$alert-warning-bg: $rs-color-19;
$alert-warning-border: $rs-color-20;

$alert-danger-text: $rs-color-24;
$alert-danger-bg: $rs-color-22;
$alert-danger-border: $rs-color-23;

$alert-info-text: $rs-color-18;
$alert-info-bg: $rs-color-16;
$alert-info-border: $rs-color-17;

//(we currently dont use success, but define override values anyway)
$alert-success-text: #3C763D;
$alert-success-bg: #DFF0D8;
$alert-success-border: #DFF0D8;

// Buttons (same color scheme as for secondary button)
$btn-default-color: $rs-color-09;
$btn-default-bg: $rs-color-01;
$btn-default-border: $rs-color-07;

$btn-primary-color: $rs-color-01;
$btn-primary-bg: $rs-color-11;
$btn-primary-border: $rs-color-12;
