$default-border-radius: 5px;

$alert-warning-text: #8A6D3B; /* WCAG AA compliant */
$alert-info-text: #306E8D; /* WCAG AA compliant */
$alert-info-border: #9cd7e3;
$alert-danger-text: #A94442; /* WCAG AA compliant */

$form-group-margin-bottom: 10px;

$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #24a1af;

$navbar-default-link-active-color: $navbar-default-link-hover-color;
$navbar-default-link-active-bg: $navbar-default-link-hover-bg;

$slider-color: #33b4c3;

$link-color: #28b4c4;

$font-size-h1: 24px;
$font-size-h2: 16px;
$font-size-h3: 16px;

$blue-color: #008391;

$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss';

/**
 * App-wide Styles
 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.locked {
  color: #777; }

.table-label-col {
  min-width: 300px;
  font-weight: bold; }

.modal-terms .modal-body {
  max-height: 450px;
  overflow-y: scroll; }

/*****************************
App-wide special styles
*******************************/
html, body, .container-fluid {
  text-align: left; }

body {
  padding-bottom: 30px; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold; }

/*input, textarea, .uneditable-input {
  max-width: 206px; }
*/

select {
  max-width: 340px; }

.form-control {
  padding: 4px 6px; }

p {
  margin: 0;
  padding: 0 0 10px; }

p.leading-number {
  padding-left: 35px;
  position: relative;
}

a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding-bottom: 10px; }

h1 {
  color: $blue-color; }

h1.backlink-heading {
  display: inline-block;
  margin-right: 20px;
  line-height: 29px; }

h2 {
  line-height: 20px;
  padding-top: 30px; }

h2.less-top-padding {
  /* useful if h2 is placed immediately after h1 */
  padding-top: 10px; }

.col-head {
  font-size: 20px;
  color: $blue-color;
  padding-bottom: 10px; }

h3 {
  font-weight: bold;
  line-height: 20px; }

h5.inline-heading {
  padding: 20px 0 5px 0; }

.italic {
  font-style: italic;
}

.multiline {
  white-space: pre-line; }

.bluebox {
  background-color: $blue-color;
  border-radius: 8px 8px 8px 8px;
  color: #fff;
  padding: 20px;
  margin-bottom: 10px; }

.box {
  display: block;
  padding: 20px 40px 15px 40px;
  background-color: #e5e5e5;
  border-radius: 4px 4px 4px 4px; }

.buttonbar .btn {
  margin: 5px 5px 0 0; }

.buttonbar .btn-info, .buttonbar .btn-inverse {
  padding: 7px 15px; }

.top-pad {
  padding-top: 30px; }

.top-pad-1 {
  padding-top: 5px; }

.font-bold, label.font-bold {
  font-weight: bold; }

.section-line {
  border-top: 1px solid #eeeeee;
}

.more-top-padding {
  padding-top: 20px;
}

.deferred-bootstrap-error div#boot-error,
.deferred-bootstrap-loading div#boot-loading {
  display: block !important;
}

.panel.panel-noborder {
  border: none;
  box-shadow: none;
}

// Component styles are injected through grunt
// injector
@import 'error/error.scss';
@import 'header/header.scss';
@import 'print.scss';
@import 'sjukfall/searchfilter/searchfilter.scss';
@import 'sjukfall/searchresults/searchresults.scss';
@import 'start/start.page.scss';
@import 'vendor-override.scss';
@import 'commonDirectives/rhsSlider/rhsSlider.scss';
@import 'commonDirectives/rhsStatCircle/rhsStatCircle.scss';
@import 'commonDirectives/rhsStatPanel/rhsStatPanel.scss';
@import 'commonDirectives/rhsTableGrad/rhsTableGrad.scss';
// endinjector