@media print {

  // Utility
  .print-show {
    display: block;
  }

  .print-hide {
    display: none;
  }

  .print-pagebreak-after {
    page-break-after: always;
  }

  // Print-specifika overrides inera-certificate.css
  .print-heading-column-left,
  .print-heading-column-right {
    float: left;
    width: 50%;
  }

  .print-heading-column-right {
    text-align: right;
  }

  .print-logo {
    width: 150px;
  }

  .edit-form {
    margin-top: 0;
  }

  .counter,
  #prognosis-counter,
  [wc-enable-tooltip],
  .glyphicon,
  .soclink,
  .arbetsformaga button,
  #intygetbaseraspa button,
  #cert-otherData-rehabWhen-date-toggle {
    display: none;
  }

  #intygetbaseraspa input[type=text] {
    width: 12em;
  }

  .cert-field-number {
    font-size: 14px;
    padding-top: 20px;
  }

  [wc-date-picker-field] input[type=text] {
    width: 12em;
  }

  .form-inline .form-control {
    display: inline-block;
    vertical-align: middle;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 13px;
    font-weight: bold;
  }

  h4 {
    font-size: 11px;
  }

  label {
    font-weight: normal;
  }

  .radio,
  .checkbox {
    display: inline-block;
    float: none;
    margin: 0;
  }

  .form-group {
    margin-bottom: 5px;
  }

  .bottom-padding-small {
    padding-bottom: 5px;
  }

  .radio input[type=radio],
  .radio-inline input[type=radio],
  .checkbox input[type=checkbox],
  .checkbox-inline input[type=checkbox] {
    margin-left: -16px;
  }

  input[type=radio],
  input[type=checkbox] {
    margin: 2px 0 0;
    vertical-align: text-bottom;
  }

  body.modalprinter * {
    visibility: hidden;
  }

  body.modalprinter .modal,
  body.modalprinter .modal-header *,
  body.modalprinter .modal-body * {
    overflow-y: visible;
    position: initial;
    visibility: visible;
  }

  body.modalprinter .modal-dialog {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: initial;
  }

  body.modalprinter .modal-terms .modal-body {
    max-height: initial;
    overflow-y: visible;
  }
}
