rhs-patient-history-time-line-item {

  display: block;

  .rhs-history-timeline-container {
    min-height: 100px;
  }
  svg {
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    max-height: 100%;
    height: 100%;

    //50% - radius of the circle
    left: calc(50% - 26px);

    //All line should have the same stroke color
    line {
      stroke: $blue-color;
    }

    g.date-circle {
      circle {
        position: absolute;
        top: 0;
        left: 0;
        fill: #fff;
        stroke: $blue-color;
        stroke-width: 2px;
        &.selected {
          fill: $blue-color-accent;
        }
      }

      text {
        fill: $blue-color;
        stroke: none;

        &.selected {
          fill: #fff;
        }
      }

    }

    g.year-label {
      text {
        fill: #000;
        stroke: none;
      }
    }

  }

}