rhs-patient-history-time-line-item {

  display: block;

  .rhs-history-timeline-container {
    min-height: 120px;
  }
  svg {
    overflow: hidden;
    position: absolute;
    font-weight: bold;
    max-height: 100%;
    height: 100%;

    &.fixate-bottom {
      top:  100%;
    }

    //50% - radius of the circle
    left: calc(50% - 26px);

    //All line should have the same stroke color
    line {
      stroke: $rs-color-03;
    }
    rect {
      fill: $rs-color-03;
    }

    g.date-circle {
      circle {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        fill: $rs-color-01;
        stroke: $rs-color-03;
        stroke-width: 2px;
        &.selected {
          fill: $rs-color-02;
          cursor: default;
        }
      }

      text {
        cursor: pointer;
        fill: $rs-color-03;
        stroke: none;

        &.selected {
          fill: $rs-color-01;
          cursor: default;
        }
      }

    }

    g.year-label {
      text {
        fill: $rs-color-10;
        stroke: none;
      }
    }

  }

}