<div class="rhs-history-timeline-container">
<svg xmlns="http://www.w3.org/2000/svg" height="100%" ng-attr-width="{{radius * 2 + 4}}"
     ng-click="onSelect(historyItem)">

  <!-- year label -->
  <g class="year-label" ng-if="showYear()">
    <line ng-attr-x1="{{radius-15}}" y1="0" ng-attr-x2="{{radius+20}}" y2="0" stroke-width="3"/>
    <text ng-attr-x="{{center}}" y="14" text-anchor="middle" class="year">
      {{historyItem.year}}
    </text>
  </g>

  <!-- vertical line label -->
  <line ng-attr-x1="{{center}}" ng-attr-y1="{{showYear() ? 16:0 }}" ng-attr-x2="{{center}}" y2="100%" stroke-width="2" />

  <g class="date-circle">
    <circle ng-attr-cx="{{center}}" ng-attr-cy="{{getCircleY()}}" ng-attr-r="{{radius}}" ng-class="{'selected' : historyItem.selected}"/>
    <text ng-attr-x="{{center}}" ng-attr-y="{{getCircleTextY1()}}" text-anchor="middle" ng-class="{'selected' : historyItem.selected}">
      {{historyItem.sjukfall.start | date: 'd'}}
    </text>
    <text ng-attr-x="{{center}}" ng-attr-y="{{getCircleTextY2()}}" text-anchor="middle" ng-class="{'selected' : historyItem.selected}">
      {{historyItem.sjukfall.start | date: 'MMM'}}
    </text>
  </g>
</svg>
</div>