rhs-box-button {
  display: block;

  button.btn {
    @extend %rs-typo-10;
    background-color: $rs-color-02;
    width: 100%;
    outline: none;
    border-radius: 0;

    &:hover, &:active {
      color: $rs-color-01;
      background-color: $rs-color-03;
    }
  }

}
