@import "compass/css3/border-radius";

.readonly-field {
  color: #666666;
  border: 1px solid #CCCCCC;
  @include border-radius();
  padding: 2px 8px 2px 8px;
  background-color: #EEE;
  max-width: 20em;
  min-height: 25px;
}
