
<div id="rhs-about-page" class="container result-top center-block">
  <h1 id="rhs-about-page-header" class="page-header">Om Rehabstöd</h1>

  <div class="row">
    <div class="col-sm-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active" ng-repeat="menu in menuItems">
          <a id="{{menu.id}}" ui-sref="{{::menu.link}}">{{menu.label}}<i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9 about-content" ui-view="content">
    </div>
  </div>
</div>