<div class="modal-header">
  <button class="close" data-dismiss="modal" data-ng-click="cancel()">×</button>
  <h4 class="modal-title">{{::'label.settings.header' | message}}</h4>
</div>
<div class="modal-body">
  <p>{{::'label.settings.modal.body' | message}}</p>

    <div class="form-group" style="margin: 0 25px;">
      <label class="control-label">{{::'label.settings.modal.label' | message}}</label>
      <rhs-slider slider-model="glapp" range="false" min="0" max="90" ticks="ticks" slider-tooltip-position="top" ticks-labels="ticksLabels" ticks-positions="ticksPositions" />
    </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" id="rhs-settings-modal-save-btn" data-ng-click="save()">{{::'common.save' | message}}</button>
  <button class="btn btn-default" id="rhs-settings-modal-close-btn" data-ng-click="cancel()">{{::'common.cancel' | message}}</button>
</div>