<span>
  <span class="rhs-datepicker-wrapper input-group">
    <input id="{{::domId}}"
           name="{{::domId}}"
           type="text"
           class="form-control"
           ng-class="{'text-invalid': invalid}"
           placeholder="åååå-mm-dd"
           ng-model="targetModel"
           ng-model-options="targetModelOptions"
           is-open="pickerState.isOpen"
           maxlength="10"
           uib-datepicker-popup="{{::format}}"
           popup-placement="auto right"
           max-date="{{::maxDate}}"
           min-date="{{::minDate}}"
           datepicker-options="dateOptions"
           ng-blur="onDatepickerInputFieldBlur()"
           datepicker-template-url="/components/commonDirectives/rhsDatePicker/datepicker.template.html"
           datepicker-popup-template-url="/components/commonDirectives/rhsDatePicker/datepickerPopup.template.html"
           rhs-blur-on-enter
           rhs-date-picker-field-input
           ng-focus="focused()"/>
    <span class="input-group-btn">
      <button type="button" id="{{::domId}}-toggle" class="btn btn-default"  ng-class="{border:isFocused}" ng-click="toggleOpen($event)" ng-disabled="pickerState.isOpen"><i class="fa fa-calendar"></i></button>
    </span>
  </span>
</span>
