<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="rhsIndexApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">

<base href="/">
<title>Rehabstöd</title>
<!-- build:css({build/.tmp,src/main/webapp}) app/app.css -->
<!-- injector:css -->
<link rel="stylesheet" href="/app/app.css">
<!-- endinjector -->
<!-- endbuild -->
</head>
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

</style>

<body class="index-page" ng-controller="IndexController">
  <!--[if lt IE 9]>
  <p class="browsehappy">Du använder en <strong>omodern</strong> webbläsare. Var vänlig <a
      href="http://browsehappy.com/">uppgradera
    din webbläsare</a> för att få bästa upplevelse av denna webbplats.</p>
  <![endif]-->


  <rhs-cookie-banner></rhs-cookie-banner>

  <div class="index-content-container">

    <!-- header part -->
    <div class="index-header-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 vertical-col-middle">
            <img class="hidden-sm hidden-md hidden-lg"
                 src="/assets/images/rehab_big_logo.png" width="192" height="40">
            <h1>Välkommen till Rehabstöd</h1>
            <p>
              Rehabstöd är ett verktyg för dig som arbetar med att koordinera rehabiliterings&shy;insatser för
              sjukskrivna patienter. Tjänsten ger en samlad bild över pågående sjukfall på en enhet. </p>
            <p>
              När du loggat in får du se en sammanställning över pågående sjukfall på den valda enheten.
               Du kan sedan filtrera informationen på bland annat diagnos och sjukskrivningslängd.
              Om du är läkare kan du endast se pågående sjukfall där du skrivit intyget. </p>

          </div>
          <div class="col-sm-6 hidden-xs text-right vertical-col-middle" style="width:49%">
            <img src="/assets/images/rehab_big_logo.png" >
          </div>

        </div>
      </div><!-- end header container -->
    </div>


    <!-- middle part -->
    <div class="index-body-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">

            <h2>Logga in</h2>
            <p>
              För att logga in behöver du ett SITHS-kort samt medarbetaruppdraget "Vård och behandling" i
              HSA-katalogen. </p>
            <div>
              <a href="/saml/login/alias/defaultAlias" class="btn btn-success" id="loginBtn">Logga in</a>
            </div>

            <br>
            <p>Problem med inloggning med SITHS-kort?<br>
              <a href="#" data-ng-click="open('pubapp/siths.help.html')" class="body-link">Läs mer om hur du kan felsöka</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="underlined-header">Se också</h2>
          </div>
        </div>
        <div class="row body-footer">
          <div class="col-sm-9">

            Statistiktjänsten för ordinerad sjukskrivning är en webbtjänst som visar samlad statistik för sjukskrivning
            som ordinerats i elektroniska läkarintyg. Statistiktjänsten visar utvecklingen av sjukskrivning över tid och
            innehåller inga personuppgifter.

          </div>
          <div class="col-sm-3 text-right" ng-cloak>
            <a ng-if="sjunetAvailable" target="_blank" title="Observera att denna länk kräver att du är uppkopplad via Sjunet." href="https://statistik.intygstjanster.sjunet.org/">
              <img src="/assets/images/statistiktj_logo.svg" width="141" height="26">  <i class="fa fa-arrow-right"></i></a>
            <a ng-if="!sjunetAvailable" target="_blank" title="Observera att om du inte har uppkoppling till Sjunet länkas du till den nationella delen av Statistiktjänsten på Internet." href="https://statistik.intygstjanster.se/">
              <img src="/assets/images/statistiktj_logo.svg" width="141" height="26">  <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
      </div><!-- end header container -->
    </div>
  </div>
  <!-- build:js({src/main/webapp,node_modules}) app/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-i18n/angular-locale_sv-se.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.js"></script>
  <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
  <script src="bower_components/angular-placeholder-tai/lib/tai-placeholder.js"></script>
  <script src="bower_components/highcharts/highcharts.js"></script>
  <script src="bower_components/highcharts/modules/no-data-to-display.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script type="text/javascript" src="/components/commonDirectives/dynamiclink/dynamicLink.service.js"></script>
  <script type="text/javascript" src="/components/commonDirectives/dynamiclink/dynamiclink.directive.js"></script>
  <script type="text/javascript" src="/pubapp/index-app.main.js"></script>
</body>
</html>
