<!DOCTYPE html>
<html lang="sv" id="ng-app" ng-app="rhsWelcomeApp">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="ROBOTS" content="nofollow, noindex"/>

<title>Rehabstöd testinloggning</title>
<!-- build:css({build/.tmp,src/main/webapp}) app/app.css -->
<!-- injector:css -->
<link rel="stylesheet" href="/app/app.css">
<!-- endinjector -->
<!-- endbuild -->

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

<style type="text/css">
  textarea {
    font-family: Consolas, Lucida Console, monospace;
    font-size: 0.7em;
  }
</style>

<script type="text/javascript">

  angular.module('rhsWelcomeApp', [
    'rhsWelcomeApp.controllers'
  ]);

  angular.module('rhsWelcomeApp.controllers', []).controller('welcomeController',
    ['$scope', '$http', '$log', function($scope, $http, $log) {

      function _fetchHsaPersons() {
        $http.get('/services/hsa-api/person').
        success(function(data) {
          $scope.loginModel = _loginModel(data);
          $scope.loginOptions = _loginOptions();
          $scope.selectedIndex = '0';
        }).
        error(function(data, status) {
          $log.error('error ' + status);
        });
      }

      function _fetchMedarbetaruppdrag() {
        $http.get('/services/hsa-api/medarbetaruppdrag').
        success(function(data) {
          $scope.medarbetaruppdrag = data;
        }).
        error(function(data, status) {
          $log.error('error ' + status);
        });
      }

      function _filterLoginIdentity(allowedApps, appName) {
        if (!_isArray(allowedApps)) {
          return false;
        }

        // Allow if array is empty OR app's name is in array
        return allowedApps.length === 0 || allowedApps.indexOf(appName) > -1;
      }

      function _getHsaPerson(hsaId) {
        return $scope.loginModel.filter(function(item) {
          return item.hsaId === hsaId;
        })[0];
      }

      function _getMedarbetaruppdrag(hsaId) {
        return $scope.medarbetaruppdrag.filter(function(item) {
          return item.hsaId === hsaId;
        })[0];
      }

      function _getSystemRoles(hsaId) {
        var mu = _getMedarbetaruppdrag(hsaId);
        if (!mu || !mu.uppdrag) {
          return [];
        }

        return mu.uppdrag.reduce(function(acc, val) {
            if (val.systemRoles) {
              return acc.concat(val.systemRoles);
            }
          }, []);
      }

      function _isArray(obj) {
        return Object.prototype.toString.call(obj) == "[object Array]";
      }

      function _loginModel(data) {
        if (_isArray(data)) {
          return data
            .filter(function(item) {
              // Remove all entries where
              //  - fakeProperties are not present
              if (!item.fakeProperties) {
                return false;
              }
              //  - identity allowed in applications are false
              return _filterLoginIdentity(item.fakeProperties.allowedInApplications, "RS");
            })
            .sort(function(a, b) {
              // Sort entries by displayOrder
              var value = parseInt(a.fakeProperties.displayOrder, 10) - parseInt(b.fakeProperties.displayOrder, 10);
              if (isNaN(value)) {
                return -1000;
              }
              return value;
            });
        }

        return [];
      }

      /*
       * This method creates the available login options by
       * reducing the original HSA-person array to a new array.
       * Each HSA-person is on the form:
       *
       *  {
       *    hsaId: "TST5565594230-106J",
       *    forNamn: "Markus",
       *    efterNamn: "Gran",
       *    specialiseringar: [],
       *    enhetIds: [],
       *    titel: "Läkare",
       *    legitimeradeYrkesgrupper: [],
       *    befattningsKod: null,
       *    forskrivarKod: null,
       *    fakeProperties: {
       *        allowedInApplications: [],
       *        displayOrder: "320",
       *        env: "dev",
       *        readOnly: true,
       *        logins: [
       *          {
       *            "forvaldEnhet":"IFV1239877878-103D",
       *            "beskrivning":"Markus Gran (Läkare | VårdEnhetA)"
       *          }
       *        ]
       *     }
       *  }
       *
       * The reduced login option will be on the form:
       *
       *  {
       *    beskrivning: "Markus Gran (Läkare | VårdEnhetA)"
       *    forvaldEnhet: "IFV1239877878-103D"
       *    hsaId: "TST5565594230-106J"
       *    index: "11"
       *  }
       */
      function _loginOptions() {
        var index = 0;
        return $scope.loginModel
          .reduce(
            (function(outerProp, innerProp) {

              // Reduce executes the callback function once for each element
              // present in the array, excluding holes in the array, receiving
              // four arguments:
              //   * accumulator
              //   * currentValue
              //   * currentIndex
              //   * array

              var f = function(acc, val, ind, arr) {
                if (val[outerProp] && val[outerProp][innerProp]) {
                  val[outerProp][innerProp]
                    .forEach(function(obj) {
                      // Add properties to object
                      obj.index = ''+index++;
                      obj.hsaId = val.hsaId;

                    });
                  acc.push(val[outerProp][innerProp]);
                }
                return acc;
              };
              return f;

            })('fakeProperties', 'logins'), [])
          .reduce(
            function(acc, val) {
              return acc.concat(val);
            },[]);
      }

      function _replacer(key, value) {
        if (value === null || (_isArray(value) && value.length === 0)) {
          return undefined;
        }
        return value;
      }

      function _stringify(hsaPerson) {
        var validProperties = [
          'hsaId',
          'forNamn',
          'efterNamn',
          'enhetId',
          'legitimeradeYrkesgrupper',
          'systemRoles',
          'befattningsKod',
          'forskrivarKod'];

        var string = JSON.stringify(hsaPerson, validProperties, 1);
        var object = JSON.parse(string);

        return JSON.stringify(object, _replacer, 1);
      }

      function _updateObject(object, propertyKey, propertyValue) {
        object[propertyKey] = propertyValue;
      }

      $scope.loginModel = [];
      $scope.loginOptions = [];
      $scope.medarbetaruppdrag = [];

      $scope.$watch('selectedIndex', function(newSelected, oldVal) {
        if (newSelected === undefined) {
            return;
        }

        var jsonEl = angular.element( document.querySelector( '#userJson' ) );
        var jsonElView = angular.element( document.querySelector( '#userJsonDisplay' ) );
        var selector = angular.element( document.querySelector( '#jsonSelect' ) );

        // Catch user login option
        var login = $scope.loginOptions[newSelected];

        // Get the HSA person from model
        var hsaPerson = _getHsaPerson(login.hsaId);
        var systemRoles =  _getSystemRoles(login.hsaId);

        // Add properties to HSA person
        _updateObject(hsaPerson, 'enhetId', login.forvaldEnhet);
        _updateObject(hsaPerson, 'systemRoles', systemRoles);

        var loginJson = _stringify(hsaPerson);
        jsonElView.text( loginJson );
        jsonEl.text( escape( loginJson ) );
      });

      // Fetch fake medarbetaruppdrag and logins from the HSA stub
      _fetchMedarbetaruppdrag();
      _fetchHsaPersons();
    }]
  );
</script>
</head>
<body ng-controller="welcomeController">
  <form id="loginForm" action="/fake" method="POST" class="form-inline" accept-charset="UTF-8">
    <div class="container">

      <div id="content-container">
        <div class="content row">

          <h1 class="page-header">Testinloggningar Rehabstöd</h1>

          <p class="well">Templatelista till vänster - Manuella ändringar kan göras i jsonstrukturen - detta
            omvandlas till inloggad userContext</p>

          <div class="form-group col-xs-8">

            <h4>Mallar</h4>

            <select id="jsonSelect" name="jsonSelect" ng-model="selectedIndex" size="18" class="form-control" style="width: 100%;max-width:100%">
              <option id="{{login.hsaId}}_{{login.forvaldEnhet}}"
                      ng-repeat="login in loginOptions"
                      value="{{login.index}}">{{login.beskrivning}}
              </option>
            </select>

            <input id="loginBtn" type="submit" value="Logga in" class="btn btn-primary"
                   style="margin-top: 20px;width: 100%">

          </div>

          <div class="form-group col-xs-4">
            <p>
            <h4>Inloggningsprofil</h4>
            <input type="hidden" id="userJson" name="userjson"/>
            <textarea id="userJsonDisplay" name="userJsonDisplay" class="field form-control"
                      style="height: 200px;width: 100%;">
            </textarea>
          </div>

          <a href="/pubapp/showcase/index.html" target="_blank">Komponentbilbiotek (kräver inloggning först)</a><br/>
        </div>
      </div>
    </div>

  </form>

</body>
</html>
