rhs-info-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 10px;
  border: 1px solid $rs-color-07;
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;

  h4 {
    @extend %rs-typo-04;
    padding: 10px 10px 0 10px;
  }

  h5 {
    @extend %rs-typo-15;
    padding: 10px 10px 0 10px;
  }

  .message-wrapper {
    padding: 10px 10px 10px 10px;
  }

  .control-label {
    font-weight: normal;
  }
}

.rhs-info-box--section {
  padding: 10px 10px 0 10px;
}

.rhs-info-box__sub-section {
  padding-left: 17px;
}

.rhs-info-box--spacing {
  padding-top: 20px;
}

@media (min-width: 992px) {
  rhs-info-box {
    margin: 0;
  }
}
