<div class="header-logo">
  <img alt="Logotyp för Rehabstöd" class="hidden-xs" src="/assets/images/logo.png" />
  <img alt="Logotyp för Rehabstöd" class="visible-xs" src="/assets/images/logo_small.png" />
</div>

<rhs-header-user ng-if="user.loggedIn" class="header-divider"></rhs-header-user>
<rhs-header-unit ng-if="showUnit()" class="header-divider"></rhs-header-unit>

<div ng-if="!user.loggedIn" class="header-empty header-divider"></div>

<div class="header-links header-divider" ng-if="user.loggedIn">
  <div class="header-link header-divider">
    <a id="omRehadbstod" class="truncate-when-needed" ng-click="openInfoDialog($event)">Om Rehabstöd</a>
  </div>
  <div class="header-link header-divider">
    <a id="logoutLink" href="{{::logoutLocation}}"><span message key="common.logout"></span></a>
  </div>
</div>
