apiVersion: v1
data:
  WEBCERT_VIEW_URLTEMPLATE: "https://webcert.intygstjanster.se/visa/intyg/{intygsId}/readonly?enhet={enhet}"
  REDIS_HOST: "ind-pint-redis1.ind1.sth.basefarm.net;ind-pint-redis2.ind1.sth.basefarm.net;ind-pint-redis3.ind1.sth.basefarm.net"
  REDIS_PORT: "26379;26379;26379"
  REDIS_SENTINEL_MASTER_NAME: "ind-pint-redis"
  ACTIVEMQ_BROKER_URL: "failover:(tcp://ind-pint-activemq1.ind1.sth.basefarm.net:61616,tcp://ind-pint-activemq2.ind1.sth.basefarm.net:61616)?jms.nonBlockingRedelivery=true&jms.redeliveryPolicy.useExponentialBackOff=true&jms.redeliveryPolicy.backOffMultiplier=2&jms.redeliveryPolicy.maximumRedeliveries=30&jms.redeliveryPolicy.maximumRedeliveryDelay=3600000&jms.redeliveryPolicy.initialRedeliveryDelay=60000"
  PDL_LOGGING_QUEUE_NAME: "webcert.log.queue"
  AGGREGATED_PDL_LOGGING_QUEUE_NAME: "webcert.aggregated.log.queue"
  NTJP_WS_CERTIFICATE_TYPE: JKS
  NTJP_WS_TRUSTSTORE_TYPE: JKS
  DATABASE_PORT: "3306"
  DATABASE_SERVER: "ind-pint-mysqlvip.ind1.sth.basefarm.net"
  SAKERHETSTJANST_SAML_IDP_METADATA_URL: https://idp2.sakerhetstjanst.inera.se:443/idp/saml
  SAKERHETSTJANST_SAML_KEYSTORE_ALIAS: rehabstod.intygstjanster.sjunet.org
  SAKERHETSTJANST_SAML_KEYSTORE_FILE: file://${certificate.folder}/rehabstod.intygstjanster.sjunet.org.jks
  SAKERHETSTJANST_SAML_TRUSTSTORE_FILE: file://${certificate.folder}/truststore.jks
  NTJP_WS_CERTIFICATE_FILE: "${certificate.folder}/rehabstod.intygstjanster.sjunet.org.jks"
  NTJP_WS_TRUSTSTORE_FILE: "${certificate.folder}/truststore.jks"
  NTJP_WS_TRUSTSTORE_TYPE: JKS
  IT_WS_CERTIFICATE_FILE: "${certificate.folder}/truststore.jks"
  IT_WS_TRUSTSTORE_TYPE: JKS
kind: ConfigMap
metadata:
  name: rehabstod-configmap-envvar
type: Opaque
