$slider-color:  #ccc !default;

.rhs-slider {
  margin-bottom: 4em;

  .slider-selection {
    background: $slider-color;
    filter: none;
  }

  .slider-handle {
    background-color: $slider-color;
    background-image: none;
  }
}