rhs-patient-intyg-frame {

  display: block;

  .modal-body.frame {
    overflow-y: auto;
    padding: 0;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;

    min-height: 195px;

    // Note: These heights should mirror max-heights in patientHistory.scss mediaquery

    @media (min-height: 400px) {
      min-height: calc(100vh - 165px);
    }
  }

}