.st-sort-ascent{
  .fa-sort {
    @extend .fa-sort-asc;
  }
}

.st-sort-descent{
  .fa-sort {
    @extend .fa-sort-desc;
  }
}

.rhs-table {
  font-size: 12px;

  .rhs-table-head {
    background-color: #465761;
    color: #fff;
    padding: 7px 5px;
    font-weight: normal;
    cursor: pointer;

    span {
      vertical-align: top;
    }

    .rhs-tooltip {
      display: inline-block;
      margin-left: 5px;
    }

  }

  .rhs-table-row > td {
    padding: 5px 5px;
  }

  .start-date, .end-date {
    white-space: nowrap;
  }

  .age {
    white-space: nowrap;
    font-weight: bold;
  }

  .rhs-table-tooltip {
    cursor: pointer;
  }

  .rhs-table-grad-active {
    font-weight: bold;
  }

}

