rhs-day-in-rehab-chain {
  display: block;
  @extend %rs-typo-05;

  .alert.alert-info {
    max-width: none;
    border-color: transparent;
    background-color: $rs-color-16;
    padding: 10px;
    margin-bottom: 5px;
  }

  .period {
    @extend %rs-typo-03;
    color: $rs-color-05;
  }

}

.rhs-patient-page-header-tooltip {
  z-index: 2000;
}
