$screen-xl-min: 1600px;

rhs-patient-history-table {
  margin: 12px 0 0 0;
  display: block;

  //css triangle - adapted from www.cssarrowplease.com
  .arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid $rs-color-07;
    &.selected {
      border: 2px solid $rs-color-03;
    }

    &:after, &:before {
      right: 100%;
      top: 22px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 10px;
      margin-top: -10px;
    }

    &:before {
      border-color: rgba(0, 131, 145, 0);
      border-right-color: $rs-color-07;
      border-width: 12px;
      margin-top: -12px;
    }
    &.selected:before {
      border-right-color: $rs-color-03;
    }

  }

  .rhs-history-table-container {

    &.selected {
      box-shadow: 1px 4px 13px 0 rgba(0, 0, 0, 0.11);
    }
    padding: 15px;
    margin-bottom: 15px;

    .sjukfall-title-row {
      display: inline-block;
      cursor: pointer;

      &.selected {
        cursor: default;
      }

      //make room for absolutely positioned chevron-toggle-button to the right
      padding-right: 16px;
      h4 {
        display: inline-block;
        padding: 0 40px 0 0;
      }
    }

    table {
      margin: 15px 0 0 0;

      .column-number {
        width: 20px;
      }

      .column-diagnose {
        @media (max-width: ($screen-xl-min - 1)) {
          width: 250px;
        }

        @media (max-width: $screen-md-max) {
          width: 200px;
        }
      }


      .column-showintyg {
        width: 110px;
      }
      .column-startdate,
      .column-enddate {
        width: 85px;
      }

      .column-length {
        width: 75px;
      }

      .column-grade {
        width: 100px;
      }

      .column-doctor {
        width: 150px;

        @media (max-width: $screen-md-max) {
          width: 110px;
        }
      }

      .column-occupation {
        width: 250px;

        @media (max-width: $screen-md-max) {
          width: 190px;
        }
      }

      .column-risk {
        width: 20px;
        text-align: center;

        @media (max-width: $screen-md-max) {
          width: 10px;
        }
      }

      thead > tr > th {
        color: $rs-color-03;
        font-size: 14px;
        padding-left: 5px;
      }

      tbody {
        tr {
          //first tr should have top border
          &:first-child > td {
            border-top: 1px solid $inactive-element-color;
          }

          td {
            vertical-align: middle;
            padding: 5px 2px 2px 5px;
            line-height: 20px;
            font-size: 12px;
            &.nowrap {
              white-space: nowrap;
            }

            .diagnos, .bidiagnos {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              vertical-align: middle;
              display: inline-block;
              padding-left: 5px;
            }

            .diagnos {
              max-width: 200px;

              @media (max-width: $screen-md-max) {
                max-width: 150px;
              }

              @media (min-width: $screen-xl-min) {
                max-width: calc(100vw - 1200px);
              }

            }
            .bidiagnos {
              max-width: 100px;

              @media (min-width: $screen-xl-min) {
                max-width: 200px;
              }
            }

            .patient-history-dialog-tooltip {
              border-bottom: 1px dotted;
              cursor: help;
            }

          }
        }

      }

    }

    .chevron-toggle-button {
      font-size: 14px;
      font-weight: normal;
      border: none;
      margin: 0;
      padding: 0 5px;
      background-color: transparent;
      color: $rs-color-03;
      outline: none;
      top: 15px;
      right: 10px;
      position: absolute;
    }

  }

  .extra-diagnoser {
    padding: 20px 0 0;
    display: flex;

    .extra-diagnoser__wrapper {
      width: 100%;
    }
  }

  img.list-spinner {
    width: 16px;
  }

  .warning-triangle {
    color: $rs-color-32;
    font-size: 16px;
  }

  .hidden-value {
    font-style: italic;
  }
}

@media (min-width: 992px) {
  .extra-intyginfo {
    display: flex;
  }
}
