rhs-patient-history-table {
  margin: 12px 0 0 0;
  display: block;

  //css triangle - adapted from www.cssarrowplease.com
  .arrow_box {
    position: relative;
    background: #ffffff;
    border: 1px solid $inactive-element-color;
    &.selected {
      border: 2px solid $blue-color;
    }

    &:after, &:before {
      right: 100%;
      top: 22px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: 10px;
      margin-top: -10px;
    }

    &:before {
      border-color: rgba(0, 131, 145, 0);
      border-right-color: $inactive-element-color;
      border-width: 12px;
      margin-top: -12px;
    }
    &.selected:before {
      border-right-color: $blue-color;
    }

  }

  .rhs-history-table-container {

    &.selected {
      box-shadow: 1px 4px 13px 0 rgba(0, 0, 0, 0.11);
    }
    padding: 15px;
    margin-bottom: 15px;

    .sjukfall-title-row {
      display: inline-block;
      cursor: pointer;

      &.selected {
        cursor: default;
      }

      //make room for absolutely positioned chevron-toggle-button to the right
      padding-right: 16px;
      h4 {
        display: inline-block;
        padding: 0 40px 0 0;
      }
    }

    table {
      margin: 15px 0 0 0;

      thead > tr > th {
        color: $blue-color;
        font-size: 12px;
      }

      tbody {
        tr {
          //first tr should have top border
          &:first-child > td {
            border-top: 1px solid $inactive-element-color;
          }

          td {
            vertical-align: top;
            padding: 5px;

            &.nowrap {
              white-space: nowrap;
            }

            .diagnos, .bidiagnos {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              vertical-align: top;
              display: inline-block;
              padding-left: 5px;
            }

            .diagnos {
              max-width: 200px;

              @media (max-width: $screen-md-max) {
                max-width: 150px;
              }

              @media (min-width: 1600px) {
                max-width: calc(100vw - 1350px);
              }

            }
            .bidiagnos {
              max-width: 160px;

              @media (min-width: 1600px) {
                max-width: 200px;
              }
            }

            .patient-history-dialog--tooltip {
              border-bottom: 1px dotted;
              cursor: help;
            }

          }
        }

      }

    }

    .chevron-toggle-button {
      font-size: 14px;
      font-weight: normal;
      border: none;
      margin: 0;
      padding: 0 5px;
      background-color: transparent;
      color: $blue-color;
      outline: none;
      top: 15px;
      right: 10px;
      position: absolute;
    }

  }

}