<h3>
  <span ng-if="historyItem.isActive">Pågående sjukfall på {{getEffectiveVardenhetUnitName()}}</span>
  <span ng-if="historyItem.isFirstHistorical">Tidigare sjukfall på {{getEffectiveVardenhetUnitName()}}</span> &nbsp;
</h3>
<div class="rhs-history-table-container arrow_box" ng-class="{'selected' : historyItem.selected}">
  <div class="sjukfall-title-row" ng-click="onSelect(historyItem)" ng-class="{'selected' : historyItem.selected}">
    <h4>{{historyItem.sjukfall.diagnos.kod}} {{historyItem.sjukfall.diagnos.beskrivning}}</h4>  <b>Sjukfallets längd
    {{historyItem.sjukfall.dagar}} dagar</b>
  </div>
  <button class="chevron-toggle-button" ng-click="historyItem.expanded = !historyItem.expanded">
    <i class="glyphicon"
       ng-class="{'glyphicon-menu-down': !historyItem.expanded, 'glyphicon-menu-up': historyItem.expanded}"></i>
  </button>

  <div ng-if="historyItem.expanded">
    <table class="table table-striped">
      <thead>
      <tr>
        <th id="header-column-number" class="column-number">#</th>
        <th id="header-column-diagnose" class="column-diagnose">Diagnos/diagnoser</th>
        <th id="header-column-date" class="column-startdate">Startdatum/Slutdatum</th>
        <th id="header-column-length" class="column-length">Längd</th>
        <th id="header-column-grade" class="column-grade">Grad</th>
        <th id="header-column-doctor" class="column-doctor">Läkare</th>
        <th id="header-column-occupation" class="column-occupation">Sysselsättning</th>
        <th id="header-column-vardgivare">Vårdgivare</th>
        <th id="header-column-vardenhet">Vårdenhet</th>
        <th id="header-column-risk" class="column-risk" ng-if="hasFeature('SRS')">Risk</th>
        <th id="header-column-show-intyg" class="column-showintyg"></th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="intyg in historyItem.sjukfall.intyg">
        <td ng-attr-id="sjukfall-{{index}}-column-number-{{$index}}">{{$index + 1}}</td>
        <td ng-attr-id="sjukfall-{{index}}-column-diagnose-{{$index}}" class="nowrap">
          <span uib-tooltip-html="getToolTip(intyg.diagnos)" tooltip-popup-delay="200"
              class="patient-history-dialog-tooltip" tooltip-placement="top-left">{{::intyg.diagnos.intygsVarde}}
          </span><span ng-if="!intyg.diagnos.intygsVarde" class="hidden-value">Okänt</span>
          <div class="diagnos hidden-xs hidden-sm hidden-md">{{::intyg.diagnos.beskrivning}}</div>
          <span ng-repeat="d in intyg.bidiagnoser">, <span uib-tooltip-html="getToolTip(d)" tooltip-popup-delay="200"
                                                           class="patient-history-dialog-tooltip">{{::d.intygsVarde}}</span></span>
        </td>
        <td ng-attr-id="sjukfall-{{index}}-column-datum-{{$index}}" class="nowrap">{{::intyg.start}} - {{::intyg.slut}}</td>
        <td ng-attr-id="sjukfall-{{index}}-column-langd-{{$index}}">{{::intyg.dagar}} dagar</td>
        <td ng-attr-id="sjukfall-{{index}}-column-grad-{{$index}}" class="nowrap"
            ng-bind-html="::formatGrader(intyg.grader)">{{intyg.grader}}<span ng-if="!intyg.grader || intyg.grader.length <= 0" class="hidden-value">Okänt</span></td>
        <td ng-attr-id="sjukfall-{{index}}-column-lakare-{{$index}}">{{::intyg.lakare.namn}}<span ng-if="!intyg.lakare.namn" class="hidden-value">Okänt</span></td>
        <td ng-attr-id="sjukfall-{{index}}-column-sysselsattning-{{$index}}">
          <div ng-repeat="s in intyg.sysselsattning track by $index">{{::s}}</div>
          <span ng-if="!intyg.sysselsattning || intyg.sysselsattning.length <= 0" class="hidden-value">Okänt</span>
        </td>
        <td ng-attr-id="sjukfall-{{index}}-column-vardgivare-{{$index}}">{{::intyg.vardgivareNamn}}
          <i ng-if="intyg.otherVardgivare" class="fa fa-exclamation-triangle warning-triangle" uib-tooltip-html="'Intyget kommer från en annan vårdgivare, det kommer inte att synas i Rehabstöd i övrigt.'" tooltip-popup-delay="200"></i>
        </td>
        <td ng-attr-id="sjukfall-{{index}}-column-vardenhet-{{$index}}">{{::intyg.vardenhetNamn}}
          <i ng-if="intyg.otherVardenhet" class="fa fa-exclamation-triangle warning-triangle" uib-tooltip-html="'Intyget kommer från en annan vårdenhet, det kommer inte att synas i Rehabstöd i övrigt.'" tooltip-popup-delay="200"></i>
        </td>
        <td ng-if="hasFeature('SRS')" ng-attr-id="sjukfall-{{index}}-column-risk-{{$index}}" class="column-risk">
          <rhs-risk-indicator category="intyg.riskSignal.riskKategori"
                              description="intyg.riskSignal.riskDescription"></rhs-risk-indicator>
        </td>
        <td>
          <button class="btn btn-default" ng-attr-id="sjukfall-{{index}}-show-intyg-{{intyg.id}}"
                  ng-click="onLoadIntyg({'intyg': intyg})"><b><i class="glyphicon glyphicon-eye-open"></i> Visa intyg</b>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="extra-diagnoser" ng-if="historyItem.isActive" ng-switch="extraDiagnoser.available">
      <div ng-switch-when="false" class="text-center">
        Ingen ytterligare intygsinformation hittades.
      </div>
      <div ng-switch-when="true" class="extra-diagnoser__wrapper">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3>Ytterligare intygsinformation</h3>
          </div>
        </div>
        <div class="row extra-intyginfo">
          <div class="col-md-4">
            <rhs-info-box info-expr="extraDiagnoser.sparradInfoInomVardgivare"
                          box-title="label.extradiagnoser.sparradinom.title"
                          label-truthy="label.extradiagnoser.sparradinom" label-falsy="label.extradiagnoser.empty">
              <rhs-blocked-list model="patientHistoryViewState.getSjfMetaData().vardenheterInomVGMedSparr"
                                list-label="label.extradiagnoser.sparradinom.list.title"></rhs-blocked-list>
            </rhs-info-box>
          </div>
          <div class="col-md-4">
            <rhs-info-box info-expr="extraDiagnoser.osparradInfoAndraVardgivare"
                          box-title="label.extradiagnoser.osparradandra.title"
                          label-truthy="label.extradiagnoser.osparradandra" label-falsy="label.extradiagnoser.empty"
                          box-state="patientHistoryViewState.vgMedSparrBoxState">
              <rhs-unblocked-flow class="flex-fill" patient="patient"></rhs-unblocked-flow>
            </rhs-info-box>
          </div>
          <div class="col-md-4">
            <rhs-info-box info-expr="extraDiagnoser.sparradInfoAndraVardgivare"
                          box-title="label.extradiagnoser.sparradandra.title"
                          label-truthy="label.extradiagnoser.sparradandra" label-falsy="label.extradiagnoser.empty">
              <rhs-blocked-list model="patientHistoryViewState.getSjfMetaData().andraVardgivareMedSparr"
                                list-label="label.extradiagnoser.sparradandra.list.title"></rhs-blocked-list>
            </rhs-info-box>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
