<div class="send-feedback">
  <button class="btn btn-default send-feedback-btn" id="sendFeedBackBtn">Tyck till</button>
</div>

<script type="text/javascript" src="https://inera-certificate.atlassian.net/s/13cf63cb278c4676cb9d3d54ceff4b49-T/-9c7zc0/100008/c/1000.0.5/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=3ea5531c"></script>
‘
<script type="text/javascript">
  window.ATL_JQ_PAGE_PROPS =  {
    "triggerFunction": function(showCollectorDialog) {
      //Requires that jQuery is available!
      jQuery("#sendFeedBackBtn").click(function(e) {
        e.preventDefault();
        showCollectorDialog();
      });
    },
    fieldValues: {
      summary: 'Feedback på Rehabstöd'
    }
  };
</script>
