@media (min-width: $screen-sm-min) {
  .row-relative {
    position: relative;
  }

  .bottom-align-text {

    text-align: right;

    .btn {
      margin-top: 5px;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-lg-min) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: auto;
  }
}

h1 .rhs-tooltip-headline {
  display: inline-block;
  margin-left: 5px;
}


rhs-filter {
  display: block;
  margin: 20px 0 20px 20px;
}


.glapp-settings {
  padding: 20px 20px 50px;
}