@media (min-width: $screen-sm-min) {
  .row-relative {
    position: relative;
  }

  .bottom-align-text {
    text-align: right;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-lg-min) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: auto;
  }
}

h1 .rhs-tooltip-headline {
  display: inline-block;
  margin-left: 5px;
}

rhs-filter {
  display: block;
  margin: 20px 0 20px;
}

.rhs-filter-slider {
  padding-right: 30px;
}

.rhs-filter-filter-input {
  font-family: 'FontAwesome', $font-family-base;
}

.rhs-filter {
  .rhs-numeric-range-input {
    width: 80px;
  }

  .rhs-filter-langd-to {
    margin-left: 20px;
  }

  .rhs-box {
    padding: 20px 20px 15px;
  }

  .rhs-checkbox label, input {
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 3px;
    input {
      vertical-align: text-top;
    }

  }
}

div[set-class-when-at-top="result-fixed-top"]{
  padding-left: 0px !important;
}
