<button class="btn btn-link btn-link-minimal" ng-click="showSearchFilter = !showSearchFilter"
        ng-switch="showSearchFilter">
  <span ng-switch-when="false" message key="label.filter.show"></span><span ng-switch-when="true" message key="label.filter.hide"></span>
</button>

<div class="row" ng-if="showSearchFilter">
  <div class="col-md-9">
    <div class="box">
      <form>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group search-filter-diagnos">
              <label class="control-label"><span message key="label.filter.diagnos"></span></label>
              <rhs-multi-select items-model="filterViewState.get().diagnosKapitelModel"
                                none-selected-title="{{::'label.filter.allselected' | message}}" high-light-enabled="true" />
            </div>
          </div>

          <div ng-if="user.urval === 'ALL'" class="col-sm-6">
            <div class="form-group">
              <label class="control-label"><span message key="label.filter.lakare"></span></label>
              <rhs-multi-select items-model="filterViewState.get().lakareModel" none-selected-title="{{::'label.filter.allselected' | message}}"
                                high-light-enabled="false" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label"><span message key="label.filter.langd"></span></label>
              <rhs-slider slider-model="filterViewState.get().sjukskrivningslangdModel" range="true" min="1" max="366" position="position" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input ng-model="filterViewState.get().freeTextModel" placeholder="{{::'label.filter.filter' | message}}" class="input-sm form-control"
                     type="search" />
            </div>
          </div>
          <div class="col-sm-6 bottom-align-text">
            <button id="rhs-sjukfallPage-resetFilterBtn" ng-click="onResetFilterClick()" class="btn btn-default">
              <span message key="common.reset"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3">
    <rhs-settings></rhs-settings>
  </div>

</div>