@media (min-width: $screen-sm-min) {
  .row-relative {
    position: relative;
  }

  .bottom-align-text {
    text-align: right;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-lg-min) {
  .search-filter-diagnos .rhs-multi-select ul {
    width: auto;
  }
}

h1 .rhs-tooltip-headline {
  display: inline-block;
  margin-left: 5px;
}






rhs-filter {

  .flex-row {
    display: flex;
    align-items: center;
    @media (max-width: $screen-md-min) {
      display: block;
    }
    .flex-col {
      padding-right: 10px;
      min-width: 1%;
      flex-wrap: wrap;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      &.eager {
        flex: 2 0 auto;
      }
    }
  }

  display: block;
  margin: 20px 0 20px;

  .box {
    max-width: 1375px;
  }
}

.rhs-filter-slider {
  padding-right: 30px;
}

.rhs-filter-filter-input {
  font-family: 'FontAwesome', $font-family-base;
}

.rhs-filter {
  .rhs-numeric-range-input {
    width: 65px;
  }

  .rhs-filter-langd-to {
    margin-left: 20px;
  }

  .rhs-box {
    padding: 20px 20px 15px;
  }

  .rhs-checkbox {
    label,
    input {
      cursor: pointer;
    }
  }

  .rhs-checkbox label, input {
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 3px;

    input {
      vertical-align: text-top;
    }
  }

}

