<div>
  <div pp-spinner show-spinner="viewState.loading.hosp" label="common.label.loading">
    <table>
      <tbody>
      <tr ng-repeat="item in viewState.socialstyrelsenUppgifter">
        <td class="table-label-col">{{item.name}}</td>
        <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <p class="top-pad-1">
      <span ng-switch="viewState.errorMessage.hosp">
        <span ng-switch-when="hosp.error.load">
          <span class="italic" id="hospLoad">Inga uppgifter har hämtats från Socialstyrelsens register för Hälso- och sjukvårdspersonal (HOSP), men du
            kan fortsätta skapa ditt konto.</span>
        </span>
        <span ng-switch-when="hosp.error.update">
          <span class="italic" id="hospUpdate">Inga uppgifter har hämtats från Socialstyrelsens register för Hälso- och sjukvårdspersonal (HOSP).</span>
        </span>
        <span ng-switch-default>
          <span class="italic" id="hospComplete">Uppgifterna är inhämtade från Socialstyrelsen.</span>
        </span>
      </span>
  </p>
</div>
