<div class="modal-header">
  <button class="close" data-dismiss="modal" data-ng-click="$dismiss()">×</button>
  <h4 class="modal-title">Om Rehabstöd</h4>
</div>
<div class="modal-body">
  <div class="intygsskolan-banner">
    <span dynamiclink key="ineraIntygsskola"></span>
  </div>
  <p>
    Rehabstöd är en tjänst som drivs av Inera AB.
  </p>
  <p>
    Nuvarande version är {{version}}.
  </p>
  <p>
    Rehabstöd är utvecklat för Internet Explorer 11 och efterföljande versioner. Andra webbläsare kan användas,
    men då finns det risk att problem uppstår. Tjänsten kräver att JavaScript är aktiverat.
  </p>
  <h4>
    Behandling av personuppgifter
  </h4>
  <p>
    Inera behandlar personuppgifter som personuppgiftsansvarig för det egna bolagets verksamhet och i sin roll som
    personuppgiftsbiträde för landsting, regioner och kommuner. Inera värnar om den personliga integriteten och
    eftersträvar alltid en hög nivå av dataskydd.
  </p>
  <p>
    Läs mer om hur personuppgifter behandlas på <span dynamiclink key="ineraPersonuppgifter"></span>.
  </p>
  <h4>
    Användandet av kakor (cookies)
  </h4>
  <p>
    Rehabstöd använder så kallade sessionskakor. De lagras temporärt i din dators minne under tiden du är inne på
    webbplatsen. Sessionskakor sparar ingen personlig information om dig och de försvinner när du stänger din
    webbläsare. Sessionskakor säkerställer att du ska kunna navigera i tjänsten utan att behöva logga in på nytt
    varje gång du går till en ny sida. De används också för att de filterinställningar du gör finns kvar under tiden
    du är inloggad. För att vara säker på att kakorna inte sparas i din dator efter avslutad session måste du stänga
    webbläsaren när du har loggat ut.
  </p>
  <p>
    Om du inte accepterar användningen av kakor kan du ställa in din webbläsare så att kakor blockeras.
    Observera att det då inte går att logga in.
  </p>
  <p>
    Mer information om kakor finns på <span dynamiclink key="ptsCookiesBanner"></span>.
  </p>
  <h4>
    Kontakt och support
  </h4>
  <p>
    Om du har problem med att använda Rehabstöd eller har frågor och synpunkter på tjänsten, kontakta <span dynamiclink key="ineraNationellKundservice"></span>.
  </p>
  <p>
    Inera AB<br>
    Box 17703<br>
    118 93 Stockholm<br><br>
    Organisationsnummer: 556559-4230
  </p>
</div>
<div class="modal-footer">
  <button type="button" id="close-info-dialog" class="btn btn-primary" ng-click="$dismiss()">
    <span message key="common.close"></span>
  </button>
</div>