<div class="input-group rhs-numeric-range-input" data-ng-class="{'has-error':error}">
  <input ng-model="inputModel" ng-disabled="controlDisabled" ng-attr-id="{{inputId}}" type="text" ng-change="onManualChange()" ng-keydown="onKeyDown($event)" ng-click="onfocus($event)" ng-model-options="{updateOn: 'blur'}" rhs-blur-on-enter maxlength="4" class="form-control">
  <span class="input-group-btn-vertical">
    <button class="btn btn-default rhs-numeric-range-input-up" type="button"
            ng-click="onClickUp()"
            ng-disabled="controlDisabled" rhs-repeat-on-mousedown="onClickUp()">
      <i class="glyphicon glyphicon-chevron-up"></i>
    </button>
    <button class="btn btn-default rhs-numeric-range-input-down" type="button"
            ng-click="onClickDown()"
            ng-disabled="controlDisabled" rhs-repeat-on-mousedown="onClickDown()">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </button>
  </span>
</div>
