rhs-numeric-range-input {
  display: inline-block;

  .input-group-btn-vertical {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;

    > .btn {
      display: block;
      float: none;
      margin-left: -1px;
      max-width: 100%;
      padding: 8px 10px;
      position: relative;
      width: 100%;
    }

    .rhs-numeric-range-input-up {
      border-radius: 0;
      border-top-right-radius: 4px;
    }

    .rhs-numeric-range-input-down {
      border-radius: 0;
      border-bottom-right-radius: 4px;
      margin-top: -2px;
    }

    i {
      font-size: 9px;
      font-weight: normal;
      left: 5px;
      position: absolute;
      top: 3px;
    }
  }
}
