.rhs-chart-legend {
  display: table; margin: 0 auto;
  font-size: 80%;

  .rhs-chart-legend-colorbox {
    padding-right: 8px;
  }
  .rhs-chart-legend-text {
    padding-left: 4px;
    padding-right: 8px;
  }
}