.rhs-chart-legend {
  display: table;
  font-size: 80%;
  margin: 0 auto;
  padding-bottom: 20px;

  .rhs-chart-legend-colorbox {
    padding-right: 8px;
  }

  .rhs-chart-legend-text {
    padding-left: 4px;
    padding-right: 8px;
  }
}
