.rhs-footer {

  background: $footer-background-color;
  min-height: $footer-height;
  padding-top: 80px;
  padding-bottom: 40px;
  display: block;

  h3, p {
    color: $footer-text-color;
    font-size: 14px;
    line-height: 20px;
  }
  h3 {
    font-weight: bold;
    padding-bottom: 5px;
  }
  p {
    font-weight: normal;
  }

}

.footer-info-dialog-modal {

  //this modal should appear a bit down on the page
  .modal-dialog {
    margin-top: 50px;
  }

  //and should add vertical scrollbar for body over 500 px height
  .modal-body {
    padding: 20px 40px;
    max-height: 500px;
    overflow-y: auto;
  }
}