<div class="rhs-footer container-fluid">
  <div class="row">

    <div class="col-xs-12 col-sm-5">
      <h3>Rehabstöd är en tjänst som drivs av Inera AB</h3>
      <p>Box 11703, 118 93 Stockholm<br>
      <span dynamiclink key="ineraMainPage"></span></p>
    </div>

    <div class="col-xs-12 col-sm-3">
      <h3>Kundtjänst</h3>
      <p>Tel 0771 25 10 10<br>
      <span dynamiclink key="ineraKundservice"></span></p>
    </div>

    <div class="col-xs-12 col-sm-4">
      <h3>Problem med inloggning med SITHS-kort?</h3>
      <p><a ng-click="openInfoDialog($event, 'omsiths')">Så här kan du felsöka
        ditt SITHS-kort</a></p>

    </div>

  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Rehabstöd använder kakor (cookies). <a ng-click="openInfoDialog($event, 'omkakor')">Läs mer om kakor</a>
      </p>
    </div>
  </div>
</div>