.modal-terms .modal-body {
  max-height:600px;
  overflow-y:scroll;
}

/* Printable modal */
@media print {
  body.modalprinter * {
    visibility: hidden;
  }

  body.modalprinter .modal,
  body.modalprinter .modal-header *,
  body.modalprinter .modal-body * {
    visibility: visible;
    overflow-y: visible;
    position: initial;
  }

  body.modalprinter .modal-dialog {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: initial;
  }

  body.modalprinter .modal-terms .modal-body {
    max-height: initial;
    overflow-y: visible;
  }

}
