<div class="header-unit">

  <i class="fa fa-building-o"></i>

  <div class="header-two-row">
    <div id="vardgivareNameLabel" class="truncate-when-needed">{{getVardgivare()}}</div>
    <div class="truncate-when-needed">
      <span class="hidden-xs">&nbsp;-&nbsp;</span><span id="verksamhetsNameLabel">{{getVardenhet()}}</span>
    </div>
  </div>
  <a
     id="rhs-header-other-locations"
     class="header-link hidden-xs"
     href
     ng-if="user.totaltAntalVardenheter > 1"
     data-ng-click="openChangeCareUnitDialog()">
    Byt enhet
  </a>
  <button
      ng-if="user.totaltAntalVardenheter > 1"
      type="button"
      id="expand-unitmenu-btn"
      class="btn btn-link visible-xs"
      ng-click="toggleMenu($event)">
    <i class="glyphicon"
       data-ng-class="[{'glyphicon-chevron-down': !unitExpanded}, {'glyphicon-chevron-up': unitExpanded}]"></i>
  </button>

</div>

<!-- must be outside flex container to be able to relatively position it -->
<div uib-dropdown is-open="unitExpanded">
  <ul uib-dropdown-menu>
    <li ng-if="user.totaltAntalVardenheter > 1">
      <a
          id="rhs-header-other-locations-menu"
          class="header-link"
          href

          data-ng-click="openChangeCareUnitDialog()">
        Byt enhet
      </a>
    </li>
  </ul>
</div>
