rhs-patient-history-tabs {
  $tab-border-color: #aaa;
  $tab-text-color: #000;
  $tab-background-color: #ccc;

  $active-tab-text-color: #fff;
  $active-tab-hover-bg: #24a0b0;
  $active-tab-border-color: $active-tab-hover-bg;

  display: inline-block;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: inline-block;
    height: 32px;

  }

  .history-nav-tabs {
    border: none;

    > li {
      float: left;

      // Actual tabs (represented by a so that they can be interacted with)
      > a {

        position: relative;
        display: list-item;
        margin-right: 2px;
        border: 1px solid $tab-border-color;
        border-radius: $border-radius-base $border-radius-base 0 0;
        border-bottom: 0;
        color: $tab-text-color;
        background-color:$tab-background-color;
        text-shadow: none;
        padding: 8px 8px;
        text-decoration: none;
        min-width: 90px;
        text-align: center;

        span {
          padding-left: 5px;
        }

        i.glyphicon {
          cursor: pointer;
        }

        &:hover {
          background-color: #aaa;
        }
      }

      // Active state, and its :hover to override normal :hover
      &.active > a {
        &,
        &:hover,
        &:focus {
          color: $active-tab-text-color;
          background-color: $rs-color-03;
          border: 1px solid $rs-color-03;
          border-bottom-color: transparent;
          cursor: default;
          border-bottom: 0;
        }
      }
    }

  }

}