<h5>Välj vårdgivare att hämta information från:</h5>

<div class="scrollable-list">
  <table class="table table-striped">
    <tbody>
    <tr ng-repeat="vardgivare in patientHistoryViewState.getVgMedSparrViewState()">
      <td ng-attr-id="osparrad-{{index}}-column-number-{{$index}}">{{vardgivare.vardgivareNamn}}</td>
      <td ng-switch="vardgivare.loading">
        <div ng-switch-when="true">
          <img class="fa-spin list-spinner" aria-labelledby="loading-message" src="/assets/images/ajax-loader.gif" />
        </div>
        <div ng-switch-when="false">
          <span ng-switch="vardgivare.includedInSjukfall">
            <a ng-switch-when="false" href ng-click="fetch(vardgivare.vardgivareId)">Hämta</a>
            <i ng-switch-when="true" class="fa fa-check"></i>
          </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
