<div id="rhs-unblockedlist-dialog" class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">×</button>
  <h3 ng-focus="dialog.focus" class="modal-title" tabindex="-1">
    <span message key="label.patienthistory.dialog.title"></span>
  </h3>
</div>
<div class="modal-body">
  <p>
    <span message key="label.patienthistory.dialog.body"></span>
  </p>
</div>
<div class="modal-footer">
  <button type="button" id="rhs-unblockedlist-close-button" class="btn btn-default" ng-click="$dismiss()">
    <i ng-if="button1icon && dialog.acceptprogressdone" class="icon" ng-class="button1icon"></i> <span message key="label.patienthistory.dialog.button"></span>
  </button>
</div>
