<div class="rhs-table" st-set-filter="rhsSearchfilter" st-set-sort="rhsSort" st-table="displayedCollection"
     st-safe-src="model.get()" infinite-scroll="showMoreInTable()" infinite-scroll-container="'.rhs-body'"
     infinite-scroll-distance="2">

    <rhs-export></rhs-export>
    <rhs-table-select-columns preference-key="preferenceKey" columns="columns"></rhs-table-select-columns>
    <rhs-table-search-connector columns="columnsForTable"></rhs-table-search-connector>
    <rhs-reset-limit on-change="resetLimit()" scroll-element=".rhs-table" padding-top="57"></rhs-reset-limit>

    <rhs-table-number-of-rows total-rows="model.get().length"></rhs-table-number-of-rows>

    <div class="clearfix"></div>

    <div rhs-floating-scroll scroll-parent-element-id="rhs-body" class="floating-scroll-container">
    <table class="table table-striped" rhs-table-fixed-header="rhs-table-header-fixed-top"
           fixed-header="rhs-table-fixed-header" normal-header="rhs-table-normal-header" padding-top="46">
        <thead class="hidden" rhs-table-header columns="columnsForTable" id="rhs-table-fixed-header"></thead>
        <thead rhs-table-header columns="columnsForTable" id="rhs-table-normal-header"></thead>
        <tbody id="rhs-table-body">
            <tr id="sjukfall-row-{{rowIndex}}" ng-repeat="(rowIndex, row) in displayedCollection | limitTo: limit track by row.patient.id"
                class="rhs-table-row" ng-click="showPatientHistory(row.patient)"
                ng-class="{'nyligen-avslutad-row' : row.nyligenAvslutat}">

                <td data-ng-repeat="column in columnsForTable" ng-attr-id="sjukfall-{{rowIndex}}-column-{{::column.id}}">
                    <div data-ng-if="column.id === 'number'" class="column-number">{{rowIndex + 1}}</div>
                    <div data-ng-if="column.id === 'patientId'" class="column-patient-id">{{::row.patient.id}}</div>
                    <div data-ng-if="column.id === 'patientAge'" class="column-patient-alder">{{::row.patient.alder}} år</div>
                    <div data-ng-if="column.id === 'patientName'" class="column-patient-name">{{::row.patient.namn}}</div>
                    <div data-ng-if="column.id === 'gender'" class="column-patient-kon">{{::row.patient.konShow}}</div>
                    <div data-ng-if="column.id === 'dxs'" class="column-diagnos">
                        <div class="diagnos-container">
                            <span uib-tooltip-html="getToolTip(row.diagnos)" tooltip-popup-delay="200" class="rhs-table-tooltip">{{::row.diagnos.intygsVarde}}</span>&nbsp;
                            <span class="column-diagnos-beskrivning hidden-sm"
                                  ng-bind-html="row.diagnos.beskrivning"></span>
                            <span ng-repeat="d in row.biDiagnoser track by $index">,
                              <span uib-tooltip-html="getToolTip(d)" tooltip-popup-delay="200" class="rhs-table-tooltip">{{::d.intygsVarde}}</span>
                            </span>
                        </div>
                    </div>
                    <div data-ng-if="column.id === 'startDate'" class="column-start start-date">{{::row.start}}</div>
                    <div data-ng-if="column.id === 'endDate'" class="column-slut end-date"><span>{{::row.slut}}</span></div>
                    <div data-ng-if="column.id === 'days'" class="column-dagar">{{::row.dagarShow}}</div>
                    <div data-ng-if="column.id === 'antal'" class="column-antal">{{::row.intyg}}</div>
                    <div data-ng-if="column.id === 'degree'" class="column-grad" ng-bind-html="::row.gradShow"></div>
                    <div data-ng-if="column.id === 'kompletteringar'" class="column-obesvaradeKompl" ng-bind-html="::row.obesvaradeKomplShow"></div>
                    <div data-ng-if="column.id === 'srs'" class="column-risk">
                        <rhs-risk-indicator category="row.riskSignal.riskKategori"
                                            description="row.riskSignal.riskDescription"></rhs-risk-indicator>
                    </div>
                    <div data-ng-if="column.id === 'doctor'">{{::row.lakare.namn}}</div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <div ng-if="!displayedCollection.length" class="rhs-table-no-result">
        <span ng-if="!model.get().length && !model.hasError()">
            <span ng-if="user.isLakare" message key="label.table.no-result.lakare" param="user.valdVardenhet.namn"></span>
            <span ng-if="!user.isLakare" message key="label.table.no-result.rehab" param="user.valdVardenhet.namn"></span>
        </span>
            <span ng-if="model.get().length">
          {{::'label.table.no-filter-result' | message}}
        </span>
            <span ng-if="model.hasError()">
          {{::'server.error.getsjukfall.title' | message}}
        </span>
    </div>
</div>
