rhs-table {
  display: block;

  @media (min-width: $screen-lg-min) {
    padding: 0 !important;
  }
}

.st-sort-ascent{
  .fa-sort {
    @extend .fa-sort-asc;
  }
}

.st-sort-descent{
  .fa-sort {
    @extend .fa-sort-desc;
  }
}

.rhs-table-header-tooltip {
  z-index: 1005;
}

.rhs-table {
  font-size: 12px;
  position: relative;

  thead {
    background-color: #465761;
  }

  .rhs-table-row > td {
    padding: 5px 5px;
  }

  .start-date, .end-date {
    white-space: nowrap;
  }

  .age {
    white-space: nowrap;
  }

  .dagar {
    padding-right: 5px;
  }

  .rhs-table-tooltip {
    cursor: pointer;
  }

  .rhs-table-grad-active {
    font-weight: bold;
  }

  .tooltip {
    @extend .rhs-table-header-tooltip;
  }

  .rhs-table-no-result {
    font-size: 16px;
    padding: 20px;
  }
}

.rhs-table-header-fixed-top {
  position: fixed;
  display: block;
  z-index: 1002;
  box-shadow: 0px 8px 8px -6px #ccc;

  @media (max-width: $screen-xs-max) {
    display: none;
  }

  @media (min-width: $screen-sm-min) {
    width: $container-sm - $grid-gutter-width;
  }
  @media (min-width: $screen-md-min) {
    width: $container-md - $grid-gutter-width;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }

  tr {
    width: 100%;
    height: 100%;
    display: block;
  }

  th {
    display: inline-block;
  }
}

