rhs-table {
  display: block;

}

.fa-sort {
  color: $background-darkergray-color;
}
.st-sort-ascent {
  .fa-sort {
    @extend .fa-sort-asc;
  }
}

.st-sort-descent {
  .fa-sort {
    @extend .fa-sort-desc;
  }
}

.rhs-table-header-tooltip {
  z-index: 1005;
}

.rhs-table {
  font-size: 12px;
  position: relative;

  thead {
    background-color: #fff;
    > th {
      color: $blue-color;
    }

  }

  tbody {

    tr.rhs-table-row {

      > td {

        vertical-align: top;
        padding: 5px;

        &.nowrap {
          white-space: nowrap;
        }

        .column-diagnos-beskrivning {
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 40px;
          max-width: 80%;
          overflow: hidden;
          display: inline-block;
          vertical-align: middle;
        }


      }

      //first tr td's should have top border
      &:first-child > td {
        border-top: 1px solid $inactive-element-color;
      }
    }


  }

  tr.rhs-table-row:hover, .table-striped tbody > tr.rhs-table-row:nth-child(odd):hover {
    background-color: #b3e3e7;
    cursor: pointer;
  }

  .column-diagnos,
  .start-date,
  .end-date {
    white-space: nowrap;
  }

  .rhs-table-tooltip {
    border-bottom: 1px dotted;
    cursor: help;
  }

  .rhs-table-grad-active {
    font-weight: bold;
  }

  .tooltip {
    @extend .rhs-table-header-tooltip;
  }

  .rhs-table-no-result {
    font-size: 16px;
    padding: 20px;
  }
}

.rhs-table-header-fixed-top {
  box-shadow: 0 8px 8px -6px #ccc;
  display: block;
  position: fixed;
  z-index: 1002;
  top: 66px !important;

  tr {
    display: block;
    height: 100%;
    width: 100%;
  }

  th {
    display: inline-block;
  }
}
