rhs-table {
  display: block;

}
.floating-scroll-container {
  overflow: auto;
}
.fa-sort {
  color: $background-darkergray-color;
}
.st-sort-ascent {
  .fa-sort {
    @extend .fa-sort-asc;
  }
}

.st-sort-descent {
  .fa-sort {
    @extend .fa-sort-desc;
  }
}

.rhs-table-header-tooltip {
  z-index: 1005;
}

.rhs-table {
  font-size: 12px;
  position: relative;

  .table {
    width: auto;
    max-width: auto;
  }

  thead {
    background-color: #fff;
    > th {
      color: $rs-color-03;
    }

  }

  tbody {

    tr.rhs-table-row {
      &.nyligen-avslutad-row {
        @extend %rs-typo-13;
        .column-slut span {
          @extend %rs-typo-14;
        }
      }
      > td {

        vertical-align: top;
        padding: 5px 15px 2px 5px;
        line-height: 20px;

        &.nowrap {
          white-space: nowrap;
        }

        &.column-diagnos {
          // Stop table-layout assigning extra width to this column
          width: 1px;
        }

        .diagnos-container {
          display: flex;
          max-width: 350px;
        }

        .column-diagnos-beskrivning {
          white-space: nowrap;
          text-overflow: ellipsis;
          min-width: 20px;
          overflow: hidden;
          display: inline-block;
          vertical-align: middle;
          padding-bottom: 1px; //compensate for dotted bottom border of diagnose code values.
          &:empty {
            min-width: 1px;
          }
        }
      }

      //first tr td's should have top border
      &:first-child > td {
        border-top: 1px solid $inactive-element-color;
      }
    }


  }

  tr.rhs-table-row:hover,
  .table-striped tbody > tr.rhs-table-row:nth-child(odd):hover {
    background-color: $rhs-table-hover-bg;
    color: darken($rhs-table-hover-bg, 60%);
    cursor: pointer;
  }

  .column-risk {
    text-align: center;
  }

  .column-diagnos {
    max-width: 350px;
  }

  .column-diagnos,
  .start-date,
  .end-date {
    white-space: nowrap;
  }

  .rhs-table-tooltip {
    border-bottom: 1px dotted;
    cursor: help;
  }

  .rhs-table-grad-active {
    font-weight: bold;
  }

  .tooltip {
    @extend .rhs-table-header-tooltip;
  }
}

.rhs-table-header-fixed-top {
  box-shadow: 0 8px 8px -6px #ccc;
  display: block;
  position: fixed;
  z-index: 1002;
  top: 66px !important;
  overflow: hidden;
  margin-left: -30px;
  padding-left: 30px;

  margin-right: -15px;
  padding-right: 15px;

  tr {
    display: block;
    height: 100%;
    width: 100%;
    white-space: nowrap;
  }

  th {
    display: inline-block;
    white-space: normal;
  }
}

.rhs-table-no-result {
    font-size: 16px;
    padding: 20px;
    background-color: #efefef;
    margin-top:-16px;
}
