.rhs-stat-panel {
  display: inline-block;
}

.rhs-stat-panel-circle-text, .rhs-stat-panel-circle-text-kon {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 80%;
}

.rhs-stat-panel-circle-text-kon {
  width: auto;
}

.rhs-stat-panel-gender {
  display: inline-block;

  img {
    margin: 0 3px;
  }
}

.aktiv-grad-tooltip {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 548px) {
  .rhs-stat-panel-gender {
    display: inline-block;
    margin-top: 5px;
  }
}