<div class="row rhs-stat-panel">
  <div ng-if="model.total>0 && !model.hasError">
    <div class="col-md-2 col-sm-6">
      <h3>{{::'label.sjukfall.stat.totalt' | message}}</h3>
      <rhs-pie-chart data="model.totalData" config="totalPaEnhetStatConfig"></rhs-pie-chart>

    </div>

    <div class="col-md-3 col-sm-6">
      <h3>{{::'label.sjukfall.stat.gender' | message}}</h3>
      <rhs-pie-chart data="model.genderData" config="genderStatConfig"></rhs-pie-chart>
      <rhs-chart-legend data="model.genderData" config="genderStatConfig"></rhs-chart-legend>
    </div>

    <div class="col-md-4 col-sm-6">
      <h3>{{::'label.sjukfall.stat.diagnoses' | message}}</h3>
      <rhs-pie-chart data="model.diagnoseGroupData" config="diagnoseStatConfig"></rhs-pie-chart>
      <rhs-chart-legend data="model.diagnoseGroupData" config="diagnoseStatConfig"></rhs-chart-legend>
    </div>

    <div class="col-md-3 col-sm-6">
      <h3>{{::'label.sjukfall.stat.sickleavedegree' | message}}</h3>
      <rhs-pie-chart data="model.sickLeaveDegreeGroupData" config="sickLeaveDegreeStatConfig"></rhs-pie-chart>
      <rhs-chart-legend data="model.sickLeaveDegreeGroupData" config="sickLeaveDegreeStatConfig"></rhs-chart-legend>
    </div>
  </div>

  <div ng-if="model.hasError" class="rhs-stat-panel-error">
    <div class="alert alert-danger"><span message key="server.error.getsummary.text"></span></div>
  </div>
</div>



