.rhs-stat-panel {
  display: inline-block;
}

.rhs-stat-panel-circle-text {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 80%;
}


.rhs-stat-panel-gender {
  display: inline-block;
}


@media (max-width: 548px) {
  .rhs-stat-panel-gender {
    display: inline-block;
    margin-top: 5px;
  }
}