<div class="row">
  <div ng-if="model.total>0">
    <div class="col-md-3 col-sm-6">
      <rhs-pie-chart data="model.totalData" config="totalPaEnhetStatConfig"></rhs-pie-chart>

    </div>

    <div class="col-md-3 col-sm-6">
      <rhs-pie-chart data="model.genderData" config="genderStatConfig"></rhs-pie-chart>
    </div>

    <div class="col-md-6 col-sm-6">
      <rhs-pie-chart data="model.diagnoseGroupData" config="diagnoseStatConfig"></rhs-pie-chart>
    </div>
  </div>
  <div ng-if="model.total === 0">
    <div class="col-xs-12 well">{{::'label.stat.nosjukfall' | message}}</div>
  </div>
</div>



