
.patient-history-dialog {

  .modal-header {
    border-bottom: 1px solid #797979;
    padding-bottom: 0;

  }

  .modal-dialog {
    width: 95%;
  }

  .modal-body {
    overflow-y: scroll;
    min-height: 200px;
    max-height: 200px;
    padding-bottom: 20px;

    @media (min-height: 400px) {
      max-height: calc(100vh - 160px);
    }

    h3 {
      display: inline-block;
      padding-bottom: 5px;
    }

    //Make all columns equal height - can't use real row here or we'll screw up all bootstrap columns inside here
    .flex-row {
      display: flex;
    }
  }
  svg line {
    stroke: $rs-color-03;
  }
  svg.year-gap {

    position: relative;
    height: 50px;
    //ugly, but won't strech all 100%
    margin-bottom: -4px;

    //50% - radius of the circle
    left: calc(50% - 26px);

  }
  //Squeeze first column
  .history-timeline {
    width: 75px;
    padding-left: $panel-body-padding;
    padding-right: $panel-body-padding;
    position: relative;
  }

  .history-table {
    width: calc(100% - 75px);
    padding-left: $panel-body-padding;
    padding-right: $panel-body-padding;
    position: relative;
  }


}
