<div id="rhs-patient-modal" class="modal-header">
  <div class="row">
    <div class="col-xs-10"><h4 ng-if="showPatientId">{{patient.namn}}&nbsp;&nbsp;&nbsp;{{patient.id}} &nbsp;&nbsp;
      {{patient.alder}} år
      {{patient.konShow}}</h4>
      <h4 ng-if="!showPatientId">{{patient.alder}} år {{patient.konShow}}</h4>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-link close-button pull-right" ng-click="close();">Stäng patientvy</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <rhs-patient-history-tabs></rhs-patient-history-tabs>
    </div>
  </div>

</div>

<div>
  <div ng-repeat="tab in tabs">
    <!-- patient history timeline section -->
    <div ng-if="tab.fixed">
      <div ng-show="tab.active" class="modal-body">
        <div rhs-spinner show-spinner="showSpinner" label="label.patienthistory.loading">
          <div data-ng-if="timeline.length === 0">
            <div class="alert alert-warning" ng-bind-html="'label.patienthistory.empty' | message"></div>
          </div>

          <rhs-day-in-rehab-chain items="timeline"></rhs-day-in-rehab-chain>
          <div ng-if="patientHistoryViewState.getKompletteringInfoError()" class="container-fluid bottom-padding-medium">
            <div class="alert alert-danger">Tyvärr kunde inte information om kompletteringar inhämtas på grund av ett tekniskt fel.
              Därför är den kolumnen tom. Om problemet kvarstår, kontakta i första hand din lokala IT-avdelning och i andra hand <span dynamiclink key="ineraNationellKundservice"></span>.
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <rhs-patient-ag-table-checkbox
                  on-change-ag-checkbox="updateAgTableVisible(isChecked)"
                  is-checked-ag-checkbox="isCheckedAgCheckbox">
              </rhs-patient-ag-table-checkbox>
            </div>
            <div class="col-xs-6">
              <div class="select-columns-container">
               <rhs-patient-table-select-columns nyligen-avslutat="nyligenAvslutat"></rhs-patient-table-select-columns>
              </div>
            </div>
          </div>

          <rhs-patient-ag-table columns="tableColumns" history-item="item" patient="patient" ag-items="agItems"
                                index="$index" on-load-intyg="loadIntyg(intyg)"></rhs-patient-ag-table>
          <div ng-repeat="item in timeline">

            <!-- special case: gap between years that have sjukfall -->
            <div ng-if="!item.sjukfall" class="row year-gap">
              <div class="col-xs-1 history-timeline">
                <!-- gap dotted line -->
                <svg xmlns="http://www.w3.org/2000/svg" height="30" ng-attr-width="{{radius * 2 + 4}}" class="year-gap">
                  <line ng-attr-x1="{{radius-4}}" y1="0" ng-attr-x2="{{radius+8}}" y2="0" stroke-width="4" />
                  <line ng-attr-x1="{{radius+2}}" y1="0" ng-attr-x2="{{radius+2}}" y2="100%" stroke-width="2"
                        stroke-dasharray="2, 1" />
                </svg>

              </div>
              <div class="col-xs-11">&nbsp;</div>
            </div>

            <div ng-if="item.sjukfall" class="row flex-row">
              <rhs-patient-history-time-line-item history-item="item" index="$index" is-last="$last"
                                                  on-select="onSelectSjukfall(item)" class="pull-left history-timeline"></rhs-patient-history-time-line-item>

              <rhs-patient-history-table columns="tableColumns" history-item="item" patient="patient" index="$index" on-select="onSelectSjukfall(item)"
                                         on-load-intyg="loadIntyg(intyg)"
                                         class="pull-left history-table"></rhs-patient-history-table>
            </div>
          </div>
          <div class="alert alert-danger" ng-if="errorMessageKey" ng-bind-html="errorMessageKey | message"></div>
        </div>
      </div>
    </div>

    <!-- Intyg iframe tab(s) -->
    <rhs-patient-intyg-frame tab="tab" ng-if="!tab.fixed"></rhs-patient-intyg-frame>
    <iframe id="wc_logout" name="wc_logout" hidden="hidden"></iframe>
  </div>

</div>
