
.patient-history-dialog {

  .modal-header {
    border-bottom: 1px solid #000;
    padding-bottom: 0;

    h4 {
      display: inline;
    }

  }

  .modal-dialog {
    width: 95%;
  }

  .modal-body {
    overflow-y: scroll;
    min-height: 300px;
    padding-bottom:20px;

    //TODO: Better way of handling this?
    @media (min-height: 400px) {
      max-height: 360px;
    }
    @media (min-height: 600px) {
      max-height: 560px;
    }
    @media (min-height: 800px) {
      max-height: 760px;
    }
    @media (min-height: 1000px) {
      max-height: 940px;
    }

    h3 {
      display: inline-block;
      padding-bottom: 5px;
    }

    //Make all columns equal height
    .row {
      display: flex;
    }

  }
  svg line {
    stroke: $blue-color;
  }
  svg.year-gap {

    position: relative;
    height: 50px;
    //ugly, but won't strech all 100%
    margin-bottom: -4px;

    //50% - radius of the circle
    left: calc(50% - 26px);

  }
  //Squeeze first column
  .history-timeline {
    width: 75px;
    padding-left: $panel-body-padding;
    padding-right: $panel-body-padding;
    position: relative;
  }

  .history-table {
    width: calc(100% - 75px);
    padding-left: $panel-body-padding;
    padding-right: $panel-body-padding;
    position: relative;
  }


}