.rhs-table {
  .rhs-table-head {
    color: $blue-color;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 5px;

    &.st-sort-ascent, &.st-sort-descent {
      color: $blue-color-accent;
    }

    .rhs-tooltip {
      color: $blue-color;
      display: inline-block;
      margin-left: 5px;
    }

    &.column-number {
      cursor: default;
    }
  }
}
