.rhs-table {
  .rhs-table-head {
    color: $blue-color;
    font-size: $rhs-font-size-th;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 2px 2px 5px;
    vertical-align: top;

    &.st-sort-ascent, &.st-sort-descent {
      text-decoration: underline;
    }

    .rhs-tooltip {
      color: $blue-color;
      display: inline-block;
      margin-left: 5px;
    }

    &.column-number {
      cursor: default;
    }
  }
}
