.rhs-table {
  .rhs-table-head {
    color: $rs-color-03;
    font-size: $rhs-font-size-th;
    font-weight: bold;
    padding: 5px 2px 2px 5px;
    vertical-align: top;

    [st-sort] {
      cursor: pointer;
    }

    .st-sort-ascent, .st-sort-descent {
      text-decoration: underline;
    }

    .fa-sort {
      color: $rs-color-08;
    }

    .rhs-tooltip {
      color: $rs-color-03;
      display: inline-block;
      margin-left: 5px;
      cursor: default;
    }

    &.column-number {
      cursor: default;
    }
  }
}
