<div class="modal-body">
  <div class="alert alert-warning"><p ng-bind-html="msgConfig.body"></p></div>
  <div class="form-inline">
    <label id="rhs-pdlconsent-modal-checkbox-label" class="modal-checkbox unselectable">
      <input id="rhs-pdlconsent-modal-give-consent-checkbox" type="checkbox" ng-model="approveChecked"> Jag förstår och
      godkänner.
    </label>
  </div>
</div>
<div class="modal-footer">

  <button class="btn btn-primary" ng-disabled="!approveChecked" id="rhs-pdlconsent-modal-give-consent-btn"
          data-ng-click="giveConsent()">{{::'common.approve' | message}}
  </button>
  <button class="btn btn-default" id="rhs-pdlconsent-modal-cancel-btn" data-ng-click="$dismiss()">{{::'common.cancel' |
    message}}
  </button>
</div>