.index-page {
  padding-top: 40px;

  .text-part {
    padding-left: 20px;
    h2 {
      padding-top: 0;
    }
  }
  .welcome-image {
    width: 100%;
    padding-bottom: 20px;
  }

  .login-button{
    margin-top: 6em;
  }

  @media (max-width: $screen-xs-max) {
    .btn-primary {
      display: block;
      width: 100%;
    }
  }
}