.fa-check-empty:before {
  @extend .fa-check;
  color: transparent !important;
}

.rhs-multi-select {

  width: 100%;

  a.rhs-multi-select-link {
    padding-left: 0px;
    padding-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rhs-multi-select-btn {
    width: 100%;
    text-align: left;
    float: none;
    padding-top: 7px;
    line-height: normal;

    .text {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
      padding-right: 10px;
    }

    .caret {
      position: absolute;
      right: 10px;
      top: 45%;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .rhs-multi-select ul {
    width: 100%;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .rhs-multi-select ul {
    width: 200%;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .rhs-multi-select ul {
    width: 200%;
  }
}


