<div class="btn-group rhs-multi-select" uib-dropdown is-open="isOpen" on-toggle="dropdownToggle(open)" keyboard-nav auto-close="outsideClick">
  <button id="simple-btn-keyboard-nav" type="button" class="rhs-multi-select-btn btn btn-default" uib-dropdown-toggle ng-disabled="controlDisabled">
    <span class="text">{{getTitle()}}</span> <span class="caret"></span>
  </button>
  <ul uib-dropdown-menu role="menu" class="rhs-multi-select-dropdown-menu" aria-labelledby="simple-btn-keyboard-nav">
    <li ng-repeat='item in items' ng-class="{'disabled': item.disabled}">
      <a ng-click='item.disabled || (toggleItem(item))' href="javascript:void(0)" tabindex="{{item.disabled ? -1 : 0 }}" class="rhs-multi-select-link" ng-class="{'rhs-multi-select-link-enabled': !item.disabled && highLightEnabled}">
        <i class="fa" ng-class="{'fa-check': item.selected, 'fa-check-empty': !item.selected}"></i>
        {{item.displayValue}}
      </a>
    </li>
  </ul>
</div>