<div class="faq-page">
  <h1 class="col-head-about">
    Vanliga frågor och svar

    <span class="toggle">
      <a href ng-click="openAll()">Öppna alla</a>
      <span class="divider">|</span>
      <a href ng-click="closeAll()">Stäng alla</a>
    </span>
  </h1>

  <div data-ng-repeat="c in faq">
    <h2><i class="fa {{::c.icon}}"></i> {{::c.title}}</h2>
    <div class="panel panel-default" data-ng-repeat="q in c.questions" data-ng-attr-id="{{::q.id}}">
      <div class="panel-heading" ng-click="toggleQuestion(q)">
        <h4 class="panel-title">
          <span message key="{{::q.title}}"></span>

          <i class="glyphicon pull-right"
             ng-class="{'glyphicon-chevron-up': !q.closed, 'glyphicon-chevron-down': q.closed}"
             tooltip-class="popover-content" tooltip-append-to-body="true" tooltip-trigger="mouseenter">
          </i>
        </h4>
      </div>
      <div class="panel-body" uib-collapse="q.closed">
        <div class="panel-content">
          <span message key="{{::q.body}}"></span>
        </div>
      </div>
    </div>
  </div>
</div>
