.faq-page {

  .toggle {
    display: inline-block;
    margin-left: 20px;
    color: #333;
    font-size: 14px;
  }

  .panel-title {
    cursor: pointer;
    font-size: $rhs-font-size-h4;

    .glyphicon {
      margin-top: 3px;
    }
  }

  h2 i {
    color: #333;
  }

  .panel-heading {
    border-bottom: 0;
    background-color: #fff;
  }

  .panel-default {
    border-color: #E4E4E4;
  }

  .panel {
    margin-bottom: 10px;
  }

  .panel-body {
    padding: 0;

    .panel-content {
      margin: 0 15px 15px;
    }
  }
}
