<div id="step3">

  <div class="row">
    <div class="col-md-7">
      <p><span message key="label.step3intro"></span></p>

      <h2 class="col-head"><span message key="label.form.grunduppgifter"></span></h2>
      <div class="box">
        <table>
          
          <tbody>
          <tr ng-repeat="item in uppgifter">
            <td class="table-label-col">{{item.name}}</td>
            <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="col-head"><span message key="label.form.kontaktuppgifter"></span></h2>
      <div class="box">
        <table>
          <tbody>
          <tr ng-repeat="item in kontaktUppgifter">
            <td class="table-label-col">{{item.name}}</td>
            <td id="{{item.id}}" ng-class="{'locked' : item.locked}">{{item.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h2 class="col-head"><span message key="label.form.socialuppgifter"></span></h2>
      <div class="box">
          <div form-social-uppgifter autoload="true"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div class="form-group checkbox">
        <label class="top-pad">
          <input type="checkbox" id="godkannvillkor" name="godkannvillkor" ng-model="viewState.godkannvillkor"> Jag
          medger <a id="termsLink" ui-sref=".terms({termsData:terms})">behandling av mina och verksamhetens uppgifter</a>.<!--span message key="label.godkannvillkor"></span-->
        </label>
      </div>
    </div>
  </div>

  <div class="buttonbar">
    <button id="registerBtn" class="btn btn-success" ng-click="createAccount()"
            ng-disabled="!viewState.godkannvillkor">
      <img ng-show="viewState.loading.register" ng-src="assets/images/ajax-loader-small-green.gif"/> <span message key="label.createaccount"></span>
    </button>
    <button id="backBtn" class="btn btn-info" ui-sref="app.register.step2"><span message key="common.goback"></span></button>
    <button id="abortBtn" class="btn btn-secondary" ui-sref=".abort"><span message key="common.cancel"></span></button>
  </div>

  <div alert-message alert-show="viewState.errorMessage.register" alert-severity="danger" class="top-pad"></div>
</div>