service-banner {
  display: block;

  .alert {
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;

    .text-container {
      max-width: $rs-max-width;
      margin: 0 auto;
    }
  }
}
