<div id="rhs-start-page" class="container-fluid rhs-start-page">
  <div class="result-top">
    <h1 class="page-header">
      <span message key="label.sjukfall.start.lakare.header"></span>{{user.valdVardenhet.namn}}
    </h1>
  </div>

  <rhs-stat-panel vardenhet="user.valdVardenhet" id="rhs-start-stat-panel"></rhs-stat-panel>

  <div class="row" id="rhs-start-page-lakare">
    <div class="col-sm-6 show-sjukfall-panel">
      <div>
        <h3>{{::'label.sjukfall.start.selectionpanel.header' | message}}</h3>
      </div>
      <div>
        <p><span message key="label.sjukfall.start.lakare.selectionpanel.body"></span></p>

        <div>
          <a data-ng-click="onSelectUrval()" id="rhs-start-page-mine-btn">
            {{::'label.sjukfall.start.selectionpanel.urval.button' | message}}
          </a>
        </div>
        <div>
          <a data-ng-click="onSelectLU()" id="rhs-start-page-lu-btn">
            {{::'label.sjukfall.start.selectionpanel.urval.lu-button' | message}}
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <rhs-overview-more-statistic></rhs-overview-more-statistic>

      <div class="srs-row" ng-if="hasFeature('SRS')">
        <rhs-srs-overview></rhs-srs-overview>
      </div>
    </div>
  </div>
</div>
