<h2>{{::'label.sjukfall.start.lakare.info.header' | message}}</h2>

<p><span message key="label.sjukfall.start.lakare.info.body"></span></p>
<br>

<div class="row" id="rhs-start-page-lakare">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{::'label.sjukfall.start.lakare.mina.header' | message}}</h3>
      </div>
      <div class="panel-body">
        <p>{{::'label.sjukfall.start.lakare.mina.body' | message}}</p>
        <div class="pull-right">
          <button data-ng-click="onSelectUrval('ISSUED_BY_ME')" id="rhs-start-page-my-btn" class="btn btn-primary">{{::'label.sjukfall.start.lakare.mina.button' | message}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{::'label.sjukfall.start.lakare.alla.header' | message}}</h3>
      </div>
      <div class="panel-body">
        <p>{{::'label.sjukfall.start.lakare.alla.body' | message}}</p>
        <div class="pull-right">
          <button data-ng-click="onSelectUrval('ALL')" id="rhs-start-page-all-btn" class="btn btn-default">{{::'label.sjukfall.start.lakare.alla.button' | message}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
