<div id="rhs-start-page" class="container-fluid">
  <h1 id="rhs-start-page-header" class="page-header">
    <span ng-if="user.isLakare" message key="label.sjukfall.start.lakare.header"></span>
    <span ng-if="!user.isLakare" message key="label.sjukfall.start.rehab.header"></span>
    {{user.valdVardenhet.namn}} </h1>


  <div class="alert alert-info">
    <span ng-if="user.isLakare" message key="label.stat.nosjukfall.lakare"></span>
    <span ng-if="!user.isLakare" message key="label.stat.nosjukfall.rehab"></span>
  </div>

</div>